<div class="aml-form">
  <form [formGroup]="kycForm" (ngSubmit)="onFormSubmit()">
    <div class="form-group row">
      <label class="col-12 col-form-label">First name:</label>
      <div class="col-12">
        <input placeholder="Farah" type="text" formControlName="firstName">
        <app-show-errors [control]="kycForm.controls.firstName"></app-show-errors>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-12 col-form-label">Surname:</label>
      <div class="col-12">
        <input placeholder="Khan" type="text" formControlName="surName">
        <app-show-errors [control]="kycForm.controls.surName"></app-show-errors>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-12 col-form-label">Date of Birth:</label>
      <div class="col-12">
        <select formControlName="dobDay" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
          <option [ngValue]="1">1</option>
          <option [ngValue]="2">2</option>
          <option [ngValue]="3">3</option>
          <option [ngValue]="4">4</option>
          <option [ngValue]="5">5</option>
          <option [ngValue]="6">6</option>
          <option [ngValue]="7">7</option>
          <option [ngValue]="8">8</option>
          <option [ngValue]="9">9</option>
          <option [ngValue]="10">10</option>
          <option [ngValue]="11">11</option>
          <option [ngValue]="12">12</option>
          <option [ngValue]="13">13</option>
          <option [ngValue]="14">14</option>
          <option [ngValue]="15">15</option>
          <option [ngValue]="16">16</option>
          <option [ngValue]="17">17</option>
          <option [ngValue]="18">18</option>
          <option [ngValue]="19">19</option>
          <option [ngValue]="20">20</option>
          <option [ngValue]="21">21</option>
          <option [ngValue]="22">22</option>
          <option [ngValue]="23">23</option>
          <option [ngValue]="24">24</option>
          <option [ngValue]="25">25</option>
          <option [ngValue]="26">26</option>
          <option [ngValue]="27">27</option>
          <option [ngValue]="28">28</option>
          <option [ngValue]="29">29</option>
          <option [ngValue]="30">30</option>
          <option [ngValue]="31">30</option>
        </select>
        <select formControlName="dobMonth" class="custom-select mr-sm-2">
          <option [ngValue]="1">January</option>
          <option [ngValue]="2">Fabruary</option>
          <option [ngValue]="3">March</option>
          <option [ngValue]="4">April</option>
          <option [ngValue]="5">May</option>
          <option [ngValue]="6">June</option>
          <option [ngValue]="7">July</option>
          <option [ngValue]="8">August</option>
          <option [ngValue]="9">September</option>
          <option [ngValue]="10">October</option>
          <option [ngValue]="11">November</option>
          <option [ngValue]="12">December</option>
        </select>
        <select formControlName="dobYear" class="custom-select mr-sm-2">
          <option [ngValue]="1990">1990</option>
          <option [ngValue]="1991">1991</option>
          <option [ngValue]="1992">1992</option>
          <option [ngValue]="1993">1993</option>
          <option [ngValue]="1994">1994</option>
          <option [ngValue]="1995">1995</option>
          <option [ngValue]="1996">1996</option>
          <option [ngValue]="1997">1997</option>
          <option [ngValue]="1998">1998</option>
          <option [ngValue]="1998">1999</option>
          <option [ngValue]="2000">2000</option>
          <option [ngValue]="2001">2001</option>
          <option [ngValue]="2002">2002</option>
          <option [ngValue]="2003">2003</option>
          <option [ngValue]="2004">2004</option>
          <option [ngValue]="2005">2005</option>
          <option [ngValue]="2006">2006</option>
          <option [ngValue]="2007">2007</option>
          <option [ngValue]="2008">2008</option>
          <option [ngValue]="2009">2009</option>
          <option [ngValue]="2010">2010</option>
          <option [ngValue]="2011">2011</option>
          <option [ngValue]="2012">2012</option>
          <option [ngValue]="2013">2013</option>
          <option [ngValue]="2014">2014</option>
          <option [ngValue]="2015">2015</option>
          <option [ngValue]="2016">2016</option>
          <option [ngValue]="2017">2017</option>
          <option [ngValue]="2018">2018</option>
          <option [ngValue]="2019">2019</option>
          <option [ngValue]="2020">2020</option>
          <option [ngValue]="2021">2021</option>
          <option [ngValue]="2022">2022</option>
        </select>
      </div>
    </div>
    <div class="form-group row justify-content-center">
      <label class="col-12 col-form-label">Postcode:</label>
      <div class="col-8 col-sm-5">
        <input placeholder="E14 5AB" type="text" formControlName="postcode" (focusout)="getAddresses()">
        <app-show-errors [control]="kycForm.controls.postcode"></app-show-errors>
      </div>
    </div>
    <div class="form-group row justify-content-center">
      <label class="col-12 col-form-label">Select address:</label>
      <div class="col-sm-7">
        <!--        <div *ngFor="let address of addresses; let i = index">-->
        <!--          <span>-->
        <!--            {{address.line_2 + ' ' + address.line_1}}</span>-->
        <!--        </div>-->
        <select formControlName="address" class="custom-select add" size="2">
          <option *ngFor="let address of addresses; let i = index"
                  [ngValue]="i">{{i + ' ' + address.line_2 + ' ' + address.line_1}}</option>
        </select>
      </div>
    </div>
    <button type="submit">Confirm</button>
  </form>
</div>

