.upload-id-submit{
	text-align:center;
	width:100%;
}
.upload-id-submit p, 
.upload-id-submith5, 
.upload-id-submit figure {
	margin:20px 0px;
}
.upload-id-submit button{
	max-width:400px;
	width:100%;
	margin:auto;
	margin:40px 0px;
}
.file-upload-btn {
	width: 100%;
	margin: 0;
	color: #fff;
	background: #00008b;
	border: none;
	padding: 10px;
	border-radius: 5px;
	margin: 20px 0px;
}

.file-upload-btn:hover {
	background: #b5b5ff;
	color: #ffffff;
	cursor: pointer;
}
.align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 15px;
}
@media screen and (max-height: 600px){
.align-center {
    height: auto;
}
}