<div class="main">
  <div class="wrapper">
    <div class="upload-id-submit">
      <figure><img src="{{'images/identity.png' | assetsPath}}" alt="identity icon"></figure>
      <h5><strong>Driving license</strong></h5>
      <p>united kingdom</p>
      <div class="row justify-content-around py-4">
        <div class="col-md align-self-center">
          <h5><strong>Front</strong></h5> <img src="{{'images/driving-license.png' | assetsPath}}"
            alt="driving license">
        </div>
        <div class="col-md align-self-center">
          <h5><strong>Back</strong></h5><img src="{{'images/driving-license-1.png' | assetsPath}}"
            alt="driving license">
        </div>
      </div>
      <form>
        <button class="file-upload-btn" type="submit">submit</button>
      </form>
    </div>
  </div>
</div>