
    <div class="Utilitie">

      <figure><img src="{{'images/document.png' | assetsPath}}" alt="utilitie icon"></figure>
      <h5><strong>Utilities</strong></h5>
      <form>
        <input type="search" class="Utilitie-search-box">
      </form>
      <div class="brand-box octopus-bcolor">
        <div class="row justify-content-between px-1"
          (click)=" commonAlertPopUp(constant.USER_DETAILS_TO_ACCESS_UTILITIES)">
          <div class="logo-box"><img src="{{'images/octopus-energy.png' | assetsPath}}" alt="octopus-energy icon"></div>
          <div class="time-box">
            <img src="{{'images/clock.png' | assetsPath}}" alt="clock image">
            <p>2 mins</p>
          </div>
        </div>
        <p class="utilitie-dis">
          The only energy provider which? has recommended year, after year, after year. an energy service that's good
          for the planet,
          for your wallet and your soul.
        </p>
      </div>
      <div class="brand-box utilitypoint-bcolor">
        <div class="row justify-content-between px-1"
          (click)=" commonAlertPopUp(constant.USER_DETAILS_TO_ACCESS_UTILITIES)">
          <div class="logo-box"><img src="{{'images/utilitypoint-icon.png' | assetsPath}}" alt="utilitypoint icon">
          </div>
          <div class="time-box">
            <img src="{{'images/clock.png' | assetsPath}}" alt="clock image">
            <p>2 mins</p>
          </div>
        </div>
        <p class="utilitie-dis">
          get more than just a great priced tariff. you'll enjoy great rewards and benefits from an award winning energy
          provider.
        </p>
      </div>
      <div class="brand-box avro-bcolor">
        <div class="row justify-content-between px-1"
          (click)=" commonAlertPopUp(constant.USER_DETAILS_TO_ACCESS_UTILITIES)">
          <div class="logo-box"><img src="{{'images/avro-icon.png' | assetsPath}}" alt="avro icon"></div>
          <div class="time-box">
            <img src="{{'images/clock.png' | assetsPath}}" alt="clock image">
            <p>2 mins</p>
          </div>
        </div>
        <p class="utilitie-dis">
          switch and save on gas and electricity. switch to avro and save up to $300 and your utilities. get a quote
          from
          avro energy to find out how much you can save!
        </p>
      </div>
    </div>