<div class="main">
  <div class="wrapper">
    <form [formGroup]="requestBankDataForm">
      <div class="data-request">
        <figure><img alt="presentation image" src="{{'images/presentation.png' | assetsPath}}"></figure>
        <h5><strong>Request data from {{selectedBank}}</strong></h5><br>
        <p>mmob will request the following information from your bank:</p>
        <div class="consent-boxes">
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header">
                <h2 class="mb-0">
                  <button aria-controls="collapseOne" aria-expanded="true" class="btn btn-link btn-block text-left collapsed"
                          data-target="#collapseOne" data-toggle="collapse" type="button">
                    Your Account Details
                  </button>
                </h2>
              </div>
              <div aria-labelledby="headingOne" class="collapse" data-parent="#accordionExample" id="collapseOne">
                <div class="card-body">
                  <ul>
                    <li>&#8722; Any another names by which you refer to this account</li>
                    <li>&#8722; Your account balance</li>
                    <li>&#8722; Your account name, number and sort-code</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h2 class="mb-0">
                  <button aria-controls="collapseTwo" aria-expanded="true" class="btn btn-link btn-block text-left collapsed"
                          data-target="#collapseTwo" data-toggle="collapse" type="button">
                    Your Regular Payments
                  </button>
                </h2>
              </div>
              <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordionExample" id="collapseTwo">
                <div class="card-body">
                  <ul>
                    <li>&#8722; Your standing orders</li>
                    <li>&#8722; Details of your standing orders</li>
                    <li>&#8722; Recurring and future dated payments</li>
                    <li>&#8722; Details of recurring and future dated payments</li>
                    <li>&#8722; Payee agreements you have set up</li>
                    <li>&#8722; Details of payee agreements you have set up</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h2 class="mb-0">
                  <button aria-controls="collapseThree" aria-expanded="true" class="btn btn-link btn-block text-left collapsed"
                          data-target="#collapseThree" data-toggle="collapse" type="button">
                    Your Transaction Details
                  </button>
                </h2>
              </div>
              <div aria-labelledby="headingThree" class="collapse" data-parent="#accordionExample" id="collapseThree">
                <div class="card-body">
                  <ul>
                    <li>&#8722; Your transactions</li>
                    <li>&#8722; Details of your transactions</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h2 class="mb-0">
                  <button aria-controls="collapseFour" aria-expanded="true" class="btn btn-link btn-block text-left collapsed"
                          data-target="#collapseFour" data-toggle="collapse" type="button">
                    Your Contact Details
                  </button>
                </h2>
              </div>
              <div aria-labelledby="headingFour" class="collapse" data-parent="#accordionExample" id="collapseFour">
                <div class="card-body">
                  <ul>
                    <li>&#8722; The full legal name(s) of account holder(s)</li>
                    <li>&#8722; Address(es), telephone number(s) and email address(es)</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-around text-center">
          <div class="col-md-4 my-3">
            <h5><strong>Our Access</strong></h5><br>
            <p>mmob will have access to this data for 90 days</p>
            <p>mmob will access this data on a recurring basis</p>
          </div>
          <div class="col-md-4 my-3">
            <h5><strong>What We Will Do</strong></h5><br>
            <p>mmob will access 12 months worth of historical data</p>
            <p>mmob will use this data to provide you a more personalisaed service</p>
          </div>
          <div class="col-12 my-3">
            <p>information accessed by mmob from your account may be shared with third party providers on the market
              place.<br>mmob will always ask for your prior consent before sharing data with a third party on the market
              place</p>
          </div>
        </div>

        <div class="row justify-content-around text-center">
          <div class="col-10 col-md-4">
            <button (click)="onConfirm()" class="btn confirm-btn" data-target="#allow" data-toggle="modal"
                    type="button">Confirm
            </button>
          </div>
          <div class="col-10 col-md-4">
            <button (click)="onDecline()" class="btn decline-btn" type="button">Decline</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
