<!--Start data from HSBC window-->
<div class="align-center setup-section">
  <figure><img src="{{'images/presentation.png' | assetsPath}}" alt="presentation-img"></figure>
  <h5><strong>Request data from HSBC</strong></h5>
  <h6>mmob will request the following information from your bank.</h6>
  <div class="setup-box">
    <ul class="terms-points">
      <li><i><img src="{{'images/account-icon.png' | assetsPath}}"></i>
        <p>Account details including your balance and transactions from the last year.</p>
      </li>
      <li><i><img src="{{'images/regular-icon.png' | assetsPath}}"></i>
        <p>Regular payments and standing orders</p>
      </li>
      <li><i><img src="{{'images/payee-icon.png' | assetsPath}}"></i>
        <p>Details of payee agreements you have set up</p>
      </li>
    </ul>
    <p class="note-text"><small>*This consent is vaild for 90 days</small></p>
    <p>Your safety is our priority. We use a secure network to link to your bank.</p>
    <form [formGroup]="requestBankDataForm">
      <input type="button" href="#" class="next-btn" value="Confirm" data-toggle="modal" data-target="#allow"
        (click)="onNext()">
    </form>
  </div>
</div>
<!--End-->