.data-request {
	text-align: center;
	margin: 20px 0;
}

.data-request .card:first-of-type {
	border-right: 10px solid #0000e0;
	border-radius: 5px;
}

.data-request .card:nth-of-type(2) {
	border-right: 10px solid #00008b;
	border-radius: 5px;
}

.data-request .card:nth-of-type(3) {
	border-right: 10px solid #9400d3;
	border-radius: 5px;
}

.data-request .card:last-of-type {
	border-right: 10px solid #ea4c89;
	border-radius: 5px;
}

.data-request .card .card-header .btn {
	padding: 10px 10px 10px 30px;
}

.data-request .card .card-body {
	padding: 20px 30px;
	background: #f6f6f6;
}

.data-request .card .card-body ul li {
	text-align: left;
	font-weight: normal;
	font-size: 14px;
	margin: 10px 0px;
}

.data-request .row p {
	font-size: 14px;
}

.data-request .confirm-btn {
	background: #00008b;
	color: white;
	padding: 15px;
	width: 100%;
	margin: 10px auto;
	border: none;
	border-radius: 5px;
	cursor: pointer
}

.data-request .confirm-btn:hover {
	background: #b5b5ff;
	color: #3e295f;
}

.data-request .decline-btn {
	background: #e5e5e5;
	color: #00008b;
	padding: 15px;
	width: 100%;
	margin: 10px auto;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.data-request .decline-btn:hover {
	background: #fc0d1b;
	color: #ffffff;
}