<div class="main">
  <div class="wrapper">
    <div class="kyc">
      <figure><img alt="search-img" src="{{'images/globe.png' | assetsPath}}"></figure>
      <h5><strong>Select issuing country</strong></h5>
      <table class="table id-table">
        <tbody>
        <tr>
          <td>
            <figure><img alt="hsbc-icon" src="{{'images/usa.svg' | assetsPath}}"></figure>
          </td>
          <td>
            <h3>United States</h3>
          </td>
          <td><a [routerLink]="['../uploadId']">></a></td>
        </tr>
        <tr>
          <td>
            <figure><img alt="hsbc-icon" src="{{'images/uk.svg' | assetsPath}}"></figure>
          </td>
          <td>
            <h3>United Kingdom</h3>
          </td>
          <td><a [routerLink]="['../uploadId']">></a></td>
        </tr>
        <tr>
          <td>
            <figure><img alt="hsbc-icon" src="{{'images/bahrain.svg' | assetsPath}}"></figure>
          </td>
          <td>
            <h3>Bahrain</h3>
          </td>
          <td><a [routerLink]="['../uploadId']">></a></td>
        </tr>
        <tr>
          <td>
            <figure><img alt="hsbc-icon" src="{{'images/kuwait.svg' | assetsPath}}"></figure>
          </td>
          <td>
            <h3>kuwait</h3>
          </td>
          <td><a [routerLink]="['../uploadId']">></a></td>
        </tr>
        <tr>
          <td>
            <figure><img alt="hsbc-icon" src="{{'images/indonesia.svg' | assetsPath}}"></figure>
          </td>
          <td>
            <h3>Indonesia</h3>
          </td>
          <td><a [routerLink]="['../uploadId']">></a></td>
        </tr>
        <tr>
          <td>
            <figure><img alt="hsbc-icon" src="{{'images/iraq.svg' | assetsPath}}"></figure>
          </td>
          <td>
            <h3>Iraq</h3>
          </td>
          <td><a [routerLink]="['../uploadId']">></a></td>
        </tr>
        <tr>
          <td>
            <figure><img alt="hsbc-icon" src="{{'images/lebanon.svg' | assetsPath}}"></figure>
          </td>
          <td>
            <h3>Lebanon</h3>
          </td>
          <td><a [routerLink]="['../uploadId']">></a></td>
        </tr>
        <tr>
          <td>
            <figure><img alt="hsbc-icon" src="{{'images/malaysia.svg' | assetsPath}}"></figure>
          </td>
          <td>
            <h3>Malaysia</h3>
          </td>
          <td><a [routerLink]="['../uploadId']">></a></td>
        </tr>
        <tr>
          <td>
            <figure><img alt="hsbc-icon" src="{{'images/qatar.svg' | assetsPath}}"></figure>
          </td>
          <td>
            <h3>Qatar</h3>
          </td>
          <td><a [routerLink]="['../uploadId']">></a></td>
        </tr>
        <tr>
          <td>
            <figure><img alt="hsbc-icon" src="{{'images/saudi-arabia.svg' | assetsPath}}"></figure>
          </td>
          <td>
            <h3>Saudi Arabia</h3>
          </td>
          <td><a [routerLink]="['../uploadId']">></a></td>
        </tr>
        <tr>
          <td>
            <figure><img alt="hsbc-icon" src="{{'images/singapore.svg' | assetsPath}}"></figure>
          </td>
          <td>
            <h3>Singapore</h3>
          </td>
          <td><a [routerLink]="['../uploadId']">></a></td>
        </tr>
        <tr>
          <td>
            <figure><img alt="hsbc-icon" src="{{'images/sudan.svg' | assetsPath}}"></figure>
          </td>
          <td>
            <h3>Sudan</h3>
          </td>
          <td><a [routerLink]="['../uploadId']">></a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
