<div class="main">
	<div class="wrapper">
	<div class="kyc">
		<figure><img src="{{'images/globe.png' | assetsPath}}" alt="search-img"></figure>
		<h5><strong>Select issuing country</strong></h5>
		<table class="table id-table">
          <tbody>
			<tr>
			  <td><figure><img src="{{'images/usa.svg' | assetsPath}}" alt="hsbc-icon"></figure></td>
			  <td>
			  <h3>United States</h3>
			  </td>
			  <td><a href="#">></a></td>
			</tr>
			<tr>
			  <td><figure><img src="{{'images/uk.svg' | assetsPath}}" alt="hsbc-icon"></figure></td>
			  <td>
			  <h3>United Kingdom</h3>
			  </td>
			  <td><a href="#">></a></td>
			</tr>
			<tr>
			  <td><figure><img src="{{'images/bahrain.svg' | assetsPath}}" alt="hsbc-icon"></figure></td>
			  <td>
			  <h3>Bahrain</h3>
			  </td>
			  <td><a href="#">></a></td>
			</tr>
			<tr>
			  <td><figure><img src="{{'images/kuwait.svg' | assetsPath}}" alt="hsbc-icon"></figure></td>
			  <td>
			  <h3>kuwait</h3>
			  </td>
			  <td><a href="#">></a></td>
			</tr>
			<tr>
			  <td><figure><img src="{{'images/indonesia.svg' | assetsPath}}" alt="hsbc-icon"></figure></td>
			  <td>
			  <h3>Indonesia</h3>
			  </td>
			  <td><a href="#">></a></td>
			</tr>
			<tr>
			  <td><figure><img src="{{'images/iraq.svg' | assetsPath}}" alt="hsbc-icon"></figure></td>
			  <td>
			  <h3>Iraq</h3>
			  </td>
			  <td><a href="#">></a></td>
			</tr>
			<tr>
			  <td><figure><img src="{{'images/lebanon.svg' | assetsPath}}" alt="hsbc-icon"></figure></td>
			  <td>
			  <h3>Lebanon</h3>
			  </td>
			  <td><a href="#">></a></td>
			</tr>
			<tr>
			  <td><figure><img src="{{'images/malaysia.svg' | assetsPath}}" alt="hsbc-icon"></figure></td>
			  <td>
			  <h3>Malaysia</h3>
			  </td>
			  <td><a href="#">></a></td>
			</tr>
			<tr>
			  <td><figure><img src="{{'images/qatar.svg' | assetsPath}}" alt="hsbc-icon"></figure></td>
			  <td>
			  <h3>Qatar</h3>
			  </td>
			  <td><a href="#">></a></td>
			</tr>
			<tr>
			  <td><figure><img src="{{'images/saudi-arabia.svg' | assetsPath}}" alt="hsbc-icon"></figure></td>
			  <td>
			  <h3>Saudi Arabia</h3>
			  </td>
			  <td><a href="#">></a></td>
			</tr>
			<tr>
			  <td><figure><img src="{{'images/singapore.svg' | assetsPath}}" alt="hsbc-icon"></figure></td>
			  <td>
			  <h3>Singapore</h3>
			  </td>
			  <td><a href="#">></a></td>
			</tr>
			<tr>
			  <td><figure><img src="{{'images/sudan.svg' | assetsPath}}" alt="hsbc-icon"></figure></td>
			  <td>
			  <h3>Sudan</h3>
			  </td>
			  <td><a href="#">></a></td>
			</tr>
		   </tbody>
		</table>
	</div>
	</div>
  </div>