<div class="align-center setup-section">
    <figure><img src="{{'images/complete-icon.png' | assetsPath}}" alt="complete-img"></figure>
    <div class="complete-added-account">
        <h5><strong>Complete</strong></h5>
        <p>Your HSBC account has been added.</p>
    </div>
    <a href="#" class="add-btn">Add another account <i><img src="{{'images/plus.svg' | assetsPath}}" alt="icon"></i></a>
    <div class="setup-box">
        <form>
            <input type="button" href="#" class="next-btn" value="Continue" (click)="onNext()">
        </form>
    </div>
</div>