<div class="modal-dialog">
  <div class="modal-header">
    <div class="col-md-12">
      <div class="logo-img"><img alt="logo-img" src='assets/images/logo.png'></div>
      <button class="btn btn-secondary" type="button" (click)="noPressed()">CLOSE</button>
    </div>
  </div>
  <div class="modal-content">
    <div class="modal-body popups">
      <div class="content-data">
        <div class="row">
          <div class="col-md-12">
            <h3>OUR DATA & PRIVACY NOTICE</h3>
            <p>MMOB Limited (“MMOB,” “we,” “us” or “our”) are committed to protecting and
              respecting your privacy and understand how important that is for you. We collect, use
              and share information about you in accordance with this Notice. This Notice is
              important, and you should read it carefully in conjunction with our Terms of Service.
              Your continued use of our services, whether through our website, our app or otherwise,
              indicates that you acknowledge the use of your personal data by us and other parties as
              set out below. We may make changes to this Notice from time to time and you should
              regularly review this page. If you do not agree with this Notice, then you should stop
              using the website and contact us to delete your account. </p>
            <h6>Data Controller</h6>
            <p>The data controller is MMOB Ltd. We are a company a company registered in England
              and Wales with company number 12570147 whose registered office is at 82 High Street,
              Goldborne, Warrington WA3 3DA. You can email us at contact@mmob.com or write to
              us at Level 39, 1 Canada Square, London E15 5AB.</p>
            <h6>What data do we expect to hold about you?</h6>
            <p>In the normal course of our relationship we expect to collect the following information
              about you:</p>
            <ul>
              <li><strong>Details about you:</strong> your name, address, your date of birth and contact details. </li>
              <li><strong>Details about your payments and (where we provide account information
                  services) your finances:</strong> the institutions you bank with, account details, financial
                transaction data, how you categorise your transactions, direct debits and
                standing orders, payees and payment beneficiaries. </li>
              <li><strong>Details from the services we provide to you:</strong> the profile we create about you,
                the payment transactions that you undertake, and the products or services that
                you interact with through the Marketplace.</li>
              <li><strong>Details of the consent you provide: </strong>the date and time at which you provide us
                with your consent in relation to the services we provide and what that consent
                relates to. </li>
              <li><strong>Details about your device(s): </strong>the type of device you are using, its operating
                system, your browser and browser settings, IP address, language settings, usage
                statistics and other technical information such as event logs.</li>
            </ul>
            <h5>Where do we get the data we hold about you?</h5>
            <strong>From information you give to us</strong>
            <p>We receive and collect data from you when you fill in forms on the website or through
              our mobile site, such as when you register for an account or if you contact us through
              phone, email or otherwise. </p>
            <strong>From information we collect about you</strong>
            <p>When you visit our website we automatically collect information about your computer,
              your IP address, geographical location, information about your visit and how you use
              our site. For more information on this you should read more about the use of cookies
              below.</p>
            <strong>From information third parties give to us</strong>
            <p>We may get information about you from our partners and affiliate services or through
              other third parties such as advertising networks, search engine providers, analytics
              providers, and social networking sites.</p>
            <p>If you have accessed MMOB through another service, that service may provide us with
              personal information to allow us to integrate our offering and your user journey.</p>
            <p>We supplement that data that you may give to use from commercially available
              databases. These sources of information may relate to you individually (for example a
              search for anti-money laundering purposes). </p>
            <strong>Financial transaction data</strong>
            <p>You may explicitly choose to securely share financial transaction data with us, in which
              case we will obtain this from your bank or account provider. You can withdraw your
              consent at any time but, if you do, we will not be able to provide our account
              information services to you.</p>
            <h5>How do we use your personal data in providing our services?</h5>
            <strong>The grounds on which we process your data are:</strong>
            <ul>
              <li>To allow us to perform the contract we have with you: to provide you with the
                services you request from us, customised to your preferences and enable you to
                purchase products and services from third parties.</li>
              <li>To comply with our legal obligations: we are required to keep proper records
                about our payment services; we have duties to prevent financial crime, including
                money laundering and fraud.</li>
              <li>Your explicit consent: where you agree to use our payment initiation service or
                our account information services. You can withdraw consent at any time. We use
                your financial transaction data to pre-populate profile information, to calculate
                and categorise your income and expenditure, and to assess your financial needs
                and requirements.</li>
              <li>To pursue our legitimate interests: to identify you and administer your account(s)
                and for our internal purposes, examples of which are set out below.</li>
            </ul>
            <strong>Information about the services you use</strong>
            <p>We will use some of your personal data to track the services you use through our
              website, to validate the data provided to us by our partners, and for auditing
              commission that may become due to us on any product or service you purchase.</p>
            <strong>Service emails</strong>
            <p>After registering with us, we will send you emails to confirm details of important actions
              you make through our site and when there are changes to our Terms of Use, or our
              policies, or if we need to discuss your account. You cannot opt out of receiving these
              emails, but we will stop if you close your account.</p>
            <strong>Marketing</strong>
            <p>We will use your information to keep you informed (subject to your expressed
              preferences) by [post,] [telephone,] [SMS,] email or other electronic means such as via
              social and digital media about current and new products, services, offers and
              promotions which may be of interest to you. </p>
            <p>We may utilise a third-party software and storage solution to analyse the personal data
              that you have provided to us in order to ensure that the marketing that you receive is as
              relevant and beneficial to you as possible. We retain full ownership of your personal
              data and ensure that it is secure at all times.</p>
            <p>If you are not happy for your personal data to be used in this way, you can manage your
              preferences through your account or unsubscribe at any time to remove your details
              from our contact list. If you have further queries with regards to your personal data,
              please feel free to contact us at contact@mmob.com or write to us at Level 39, 1
              Canada Square, London E15 5AB.</p>
            <strong>Market and statistical analysis</strong>
            <p>We use your personal data to carry out market research, statistical analysis and
              behavioural analysis, on a personalised or aggregated basis. This research and analysis
              may assist us in improving our website and the services offered to you or other
              individuals in the future. We may produce insights from aggregated information which
              does not identify you and in no longer classed as personal data which may have value to
              third parties. </p>
            <strong>Improvements to profiling</strong>
            <p>We use automated tagging of transactions. We do not consider that our use of profiling
              gives rise to a legal or significant effect. To improve our profiling and the quality of the
              advice that we give to our customers, we may use deidentified financial data or profiles
              to train our algorithms.</p>
            <strong>Third party processing</strong>
            <p>We use third parties to process personal information on our behalf. Where third parties
              process your personal information, we will ensure that they have the necessary high
              standards of protection in place to ensure you data is secure and used only in
              accordance with this Notice. </p>
            <strong>Prevention of fraud and financial crime</strong>
            <p>We may carry out analysis and research using your personal data to prevent or detect
              fraud or other financial crime.</p>
            <strong>Business continuity</strong>
            <p>In the event of an interruption or cessation of our business, we need to ensure that we
              can implement our business continuity procedures (for example, we may need to rebuild
              our IT systems), or wind down planning to protect your interests. This may involve the
              processing of your personal data, including a transfer to an alternative service provider.</p>
            <h5>How do our partners use your personal data?</h5>
            <p>We work with some carefully selected partners who use your personal data to enable us
              to deliver our services to you, and to meet their own legal and regulatory requirements.
              In particular, we would draw your attention to the following: </p>
            <ul>
              <li>You may access MMOB through a third-party site, marketplace or application,
                such as your bank, into which our service is integrated or supplied through. To
                improve your use and enjoyment of those other services, we may share some of
                your data with that third-party.</li>
              <li>TrueLayer Limited is a technical service provider that helps you to connect your
                bank, initiate payments and share financial transaction data with MMOB in a safe
                and secure manner.</li>
              <li>We may undertake “soft” checks with a credit reference agency as a means of
                validating certain personal information about you.</li>
              <li>We may be asked to provide personal data to the Financial Conduct Authority or
                the Financial Ombudsman Service as part of our regulatory obligations.</li>
              <li>If you purchase products or services through the marketplace we may supply the
                product or service provider with your name, address, and contact details as well
                as other information to help them provide you with the product or services you
                request.</li>
              <li>Our professional advisers, such as our lawyers and auditors, may need access to
                personal data but they will always be subject to professional and/or contractual
                obligations of confidentiality.</li>
            </ul>
            <p>Our partners may use the personal data you provide for purposes such as fraud
              prevention or for internal analysis (such as monitoring customer demographics, market
              trends or pricing analysis). In certain circumstances we are obliged to report information
              to law enforcement agencies. </p>
            <p>We are not responsible for the privacy policies or practices of our partners (or other
              websites you may click though to from our website). You should ensure you read and
              are fully aware of the terms and conditions and the privacy policies of third-party
              websites.</p>
            <p>We may also transfer your personal data to generic service providers who control or
              process personal data on our behalf to enable the efficient technical and logistical
              provision of our services. These service providers supply us with cloud data storage, data
              security services, customer relationship management software, and support ticketing
              services. We may substitute a technical or logistical service provider from time to time.
              Such parties are generally not permitted to use your personal data for any other
              purposes than for what your personal data was collected, and we require them to act
              consistently with applicable laws and this Notice as well as to use appropriate security
              measures to protect your personal data</p>
            <h5>Do we pass personal data to other third parties?</h5>
            <p>Except as set out in this Notice, we will not disclose any of your personal data to other
              parties without your explicit and freely given consent, unless we are legally required to
              do so by (for example, a court order, for the purposes of prevention of fraud or other
              crime, or by a competent regulator). </p>
            <h5>Transferring your personal data outside of the European Economic Area
              ("EEA")</h5>
            <p>Where information is transferred outside the European Economic Area (the “EEA”),
              Switzerland or the United Kingdom and where this is to a stakeholder or vendor in a
              country that is not subject to an adequacy decision by the EU Commission, data is
              adequately protected by approved standard contractual clauses or a vendor's Binding
              Corporate Rules.</p>


            <h5>Confidentiality</h5>
            <p>We will treat all your personal data as private and confidential. We comply with and are
              registered under the data protection laws in the United Kingdom and take all reasonable
              care to prevent any unauthorised access to your personal data. Other than under the
              terms of this Notice, we will not disclose any personal data about you. Please be aware
              however that under certain circumstances we may be subject to a legal obligation to
              20-0269 - MMOB DRAFT Privacy Notice v 1.0 (002)
              disclose personal data about you, or there may be a public duty to disclose that
              personal data.</p>
            <p>Should you decide to complain about the service we have provided to you, we may be
              obliged to forward details about your complaint, including your personal data, to the
              relevant ombudsman. You can be assured that they are similarly obliged to adhere to
              data protection legislation and to keep your personal data strictly confidential.</p>
            <p>If you are not satisfied with our response or believe we are processing your personal
              data not in accordance with the law, you can complain to the Information
              Commissioner’s Office (ICO), contact details of which are:</p>
            <ul>
              <li>Serious breaches should be reported to the ICO using its security breach helpline
                on 0303 123 1113 (open Monday to Friday, 9am to 5pm). Select option 3 to
                speak to staff, who will record the breach and give you advice about what to do
                next.</li>
              <li>If you would like to report a breach in writing you can send it by post to the
                office address Information Commissioner’s Office, Wycliffe House, Water Lane,
                Wilmslow, Cheshire SK9 5AF. </li>
            </ul>
            <h5>Your rights</h5>
            <p>Under the terms of the data protection legislation you have a number of rights. You
              may:</p>
            <ul>
              <li>ask of a copy of the information, or some of the information, that we hold about
                you (rights of access and portability);</li>
              <li>ask us to correct or remove any information about you that we hold (rights to
                rectification and erasure);</li>
              <li>ask us to stop processing or restrict the processing of information that we hold
                about you (rights to restrict and object to processing, including profiling). </li>
            </ul>
            <p>If you cannot do any of these things this through ‘My Account’, you may ask us to do so
              by writing to the Privacy Officer, by email (contact@mmob.com) or to the
              correspondence address above, and we will do this free of charge. We will respond to
              your request within 30 days</p>

            <h5>Changing your information and deleting your account</h5>
            <p>If you need to change any of your personal information you should log in to your
              account to make the necessary changes.</p>
            <p>If you want to stop MMOB accessing to your financial transaction data, you may revoke
              consent within ‘My Account’. You may also revoke authorisation directly with your
              account provider.</p>
            <p>If you want to stop using MMOB, please email contact@mmob.com using your
              registered email address and we will close your account. </p>
            <h5>How long we keep your data for?</h5>
            <p>We have procedures in place to ensure that information is not kept for longer than is
              necessary but in summary:</p>
            <ul>
              <li>
                we will retain personal data about you for as long as your account is active;</li>
              <li>after termination, we will retain only that information required for so long as it is
                necessary to comply with our legal or regulatory obligations, to resolve any
                dispute or to enforce our agreements. If we do need to retain information after
                termination, we will ensure that your data is archived in a way that access is
                restricted; and</li>
              <li>the maximum time that we envisage retaining any information is five years
                following termination. </li>
            </ul>
            <p>Subject to our legal or regulatory obligations, if you ask us to delete any data, it is
              promptly deleted or otherwise rendered unusable from within our systems and we will
              no longer have any access to that data. </p>

            <h5>Use of cookies</h5>
            <p>A cookie is a small piece of code, sent from a website sends to a user's internet browser,
              which allows that website to track the user's previous activity when they return to that
              website. This allows us to provide you with the experience that you expect from us and
              lets us continually improve our service.</p>
            <p>You can block cookies by changing the settings on your browser, but if you do you will
              not be able to access all or parts of our website.</p>
            <p>The types of cookies we use are:</p>
            <strong>Strictly necessary cookies</strong>
            <p>These are cookies that are required for the operation of our website. They include, for
              example, cookies that enable you to log into secure areas of our website, use a
              shopping cart or make use of e-billing services</p>
            <strong>Analytical/performance cookies</strong>
            <p>They allow us to recognise and count the number of visitors and to see how visitors
              move around our website when they are using it. This helps us to improve the way our
              website works, for example, by ensuring that users are finding what they are looking for
              easily.</p>
            <strong>Functionality cookies</strong>
            <p>These are used to recognise you when you return to our website. This enables us to
              personalise our content for you, greet you by name and remember your preferences (for
              example, your choice of language or region).</p>
            <strong>Targeting cookies</strong>
            <p>These cookies record your visit to our website, the pages you have visited and the links
              you have followed. We will use this information to make our website and the advertising
              displayed on it more relevant to your interests. We may also share this information with
              third parties for this purpose.</p>
            <p>We do not have any control over the use of cookies by third parties, including our
              partners and affiliates. To manage cookies from third party websites you will need to
              visit their site to adjust your settings.</p>
            <p>If you want more information about how cookies operate, or how to manage them,
              please visit AboutCookies. </p>
            <h5>Law</h5>
            <p>This Data & Privacy Notice is subject to the laws of England and Wales and the exclusive
              jurisdiction of their Courts.</p>
            <h5>Version</h5>
            <p>This Data & Privacy Notice was last updated October 2020</p>

          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" type="button" (click)="yesPressed()">OK</button>
    </div>
  </div>
</div>