<div class="modal-dialog">
	<div class="modal-header">
		<div class="col-md-12">
			<div class="logo-img"><img alt="logo-img" src='assets/images/logo.png'></div>
		</div>
	</div>
	<div class="modal-content">
		<div class="modal-body popups">
			<div class="content-data" tabindex="0">
				<div class="row">
					<div class="col-md-12">
						<h3>General Provisions</h3>
						<ol>
							<!--- sub heading ---->
							<li><b>Our agreement</b>
								<ol>
									<li>These Terms of Use (together with our &#8810;Data & Privacy Notice&#8811;) set
										out the terms on which you may make use of the payment features of the
										Marketplace and sets out in detail your rights and responsibilities to us and
										our rights and responsibilities to you during your use of the Service. These
										Terms of Use (as amended from time to time) will apply to Service until such
										time as either you or we terminate this agreement.</li>
									<li>Please read these Terms of Use carefully before you start to use the Service.
										You may request a copy of these Terms of Use at any time by emailing
										customerservices@mmob.com.</li>
								</ol>
							</li>
							<!--- sub heading ---->
							<li><b>About MMOB</b>
								<ol>
									<li>MMOB Ltd (“MMOB”, “we” or “us”) is a company registered in England and Wales
										with company number 12570147 whose registered office is at 82 High Street,
										Golborne, Warrington WA3 3DA.</li>
									<li>MMOB Ltd (FRN: 930282) is authorised and regulated by the Financial Conduct
										Authority for the provision of payment services under the Payment Services
										Regulations 2017.</li>
									<li>The FCA’s address is 12 Endeavour Square, London E20 1JN and they can be
										contacted on 0800 111 6768 (freephone) or 0300 500 8082 from the UK.</li>
									<li>If you wish to contact us for any reason, you can email us at
										customerservices@mmob.com or write to us at Level 39, 1 Canada Square, London
										E15 5AB.</li>
									<li>If we need to contact you, we will email you. All information or notifications
										that we provide to you will be in English.</li>
								</ol>
							</li>
							<!--- sub heading ---->
							<li><b>What we do</b>
								<ol>
									<li>You are seeing these terms because we, or your Gateway Provider acting on our
										behalf as our agent, have agreed to provide you with one or both of the
										following services in connection with the Marketplace.</li>
									<li>Payment Initiation Services: We provide regulated payment initiation services
										(“PIS”). With your consent, and at your instruction, we instruct your payment
										account provider (e.g. your bank or credit card issuer) (“Payment Account
										Provider”) to make a payment or payments from your selected payment account
										(your “Payment Account”) to your chosen recipient. When you want to make a
										payment using PIS, we will redirect you to your Payment Account Provider so you
										can provide them with your login and security credentials (“Credentials”) and
										undergo authentication with them. We will never ask you to share your
										Credentials with us. The Payment Account Provider will only act on the
										instruction to make the payment after you give them your Credentials and
										successfully authenticate with them.</li>
									<li>When you choose to initiate a payment using our PIS you will be directed to a
										page to select your Payment Account Provider and the Payment Account from which
										you wish to make payment. By selecting your Payment Account Provider and Payment
										Account, you consent to use our PIS and instruct MMOB to initiate a payment of
										your chosen amount to your chosen recipient, details of which will be clearly
										displayed on the account selection page. After you select your Payment Account
										Provider and Payment Account, we will redirect you to your Payment Account
										Provider (either on a web browser, or your mobile banking application) who will
										ask you for your Credentials, which may include additional procedures (e.g. a
										password or biometric identifier such as a fingerprint) to securely authenticate
										yourself. Neither MMOB nor your Gateway Provider will be able to see or access
										your Credentials at any time.</li>
									<li>Once your Payment Account Provider has confirmed authentication, we will
										instruct your Payment Account Provider to make a payment in accordance with your
										instructions (a “Payment Order”). Once you have authorised the payment with your
										Payment Account Provider, funds will usually leave your Payment Account
										immediately and, at the latest, within two hours. We or the Gateway Partner will
										confirm the successful initiation of a Payment Order, but your Payment Account
										Provider (and not MMOB) is responsible for executing it.Information that you are
										entitled to receive in relation to our PIS will be provided to you through your
										Marketplace account or, where we think it necessary, by email.</li>
									<li>Account Information Services: We provide regulated account information services
										(“AIS”), including through our agents. We enable you to:
										<ol>
											<li>access and view information relating to your Payment Accounts (“Account
												Information”), including through Marketplace, in a consolidated form;
												and</li>
											<li>where relevant, to share that Account Information with third parties who
												will use your Account Information to provide a service that you have
												agreed to use (such as a credit reference service, or an affordability
												check). In these circumstances, we are responsible for the provision of
												AIS.</li>
										</ol>
									</li>
									<li>To use our AIS, you will be directed to a page where you will be able to select
										the Payment Account Provider and Payment Account you want to connect to, and the
										Account Information you want to access and, if relevant, share with Marketplace
										Participants or other third parties. When you confirm your consent, you instruct
										and give your consent to MMOB to:
										<ol>
											<li>access the Payment Account(s) and Account Information that you have
												selected, including, where relevant, when you do not actively request
												such Account Information (i.e. when you are not actively viewing the
												data or requesting a refresh of the data) and storing the Account
												Information temporarily before sharing it with any third parties you
												have selected; and/or</li>
											<li>provide that Account Information to you and share it with any third
												parties you have selected and instructed us to share data with.</li>
										</ol>
									</li>
									<li>After you select your Payment Account Provider and Payment Account, we will
										redirect you to
										your Payment Account Provider (either on a web browser, or your banking mobile
										application)
										who will ask you for your Credentials, which may include additional procedures
										(e.g. a
										password and biometric identifier such as a fingerprint) to securely
										authenticate yourself.
										Neither MMOB nor your Gateway Provider will be able to see or access your
										Credentials at
										any time. Once your Payment Account Provider has confirmed authentication, we
										will access
										your Account Information, provide it to you, and share it in accordance with
										your instructions
										to us.</li>
									<li>The Account Information retrieved and shared may include your personal account
										details
										(such as name, address, email, phone number), transaction history, transaction
										amounts and
										descriptions, account name and number, currency, account balance, any overdraft
										balance,
										payment due dates and other information about your transactions. This will
										depend on the
										services being provided by the partner through which you access our AIS service.
										We will
										provide you with the Account Information through the Marketplace ourselves
										(where we
										provide AIS directly) or through our agents’ apps or websites (where we provide
										AIS through
										a third party that acts as our agent).</li>
									<li>At your instruction, and with your explicit consent, we will also provide that
										Account
										Information to Marketplace Participants or other third parties in accordance
										with the
										provisions above.</li>
								</ol>
							</li>
							<!--- sub heading ---->
							<li><b>Giving and withdrawing consent</b>
								<ol>
									<li>Our PIS and our AIS are provided to you on the basis of your explicit consent
										given to us as
										part of the process set out in paragraphs 3.2 or 3.6 respectively.</li>
									<li>Once you have authorised a Payment Order, you may not revoke your consent.</li>
									<li>You may withdraw your consent for the access to any of your Account Information
										at any
										time. You can do this (a) by telling us; (b) by telling our agent who is
										providing our services to
										you; or (c) by telling your Account Provider. You will need to renew MMOB's
										access to your
										Payment Account(s) by authenticating with the relevant Payment Account Provider
										at least
										every 90 days, and every time you wish to access and/or share Account
										Information other
										than your account balance or transaction data relating to transactions occurring
										in the last 90
										days.</li>
									<li>You may withdraw your consent for us to share Account Information with your
										chosen third
										parties at any time. You can do this (a) by telling us; (b) by telling out agent
										who is providing
										our services to you; or (c) telling the Partner or third party. If you withdraw
										consent for us to
										share data with a third party, that third party may no longer be able to provide
										its services to
										you.</li>
								</ol>
							</li>
							<!--- sub heading ---->
							<li><b>Incorrect or Unauthorised Payments</b>
								<ol>
									<li>If you suspect that an unauthorised or incorrect Initiated Payment has been made
										using our
										PIS, you must notify us of this as soon as possible by emailing
										customerservices@mmob.com.</li>
									<li>You may be entitled to a refund of the unauthorised or incorrect Initiated
										Payment from your
										Account Provider but you must notify them of the unauthorised or incorrect
										payment as soon
										as possible and no later than 13 months after the date of the relevant Initiated
										Payment.</li>
									<li>You should be aware that Payment Account Provider may contact you directly (and
										not
										through the Marketplace or the Gateway Partner's application) if there is an
										issue with the
										Initiated Payment submitted through the PIS (for example, there are insufficient
										funds or an
										issue with your authorisation). You will need to resolve any such issues
										directly with your
										Payment Account Provider.</li>
								</ol>
							</li>
							<!--- sub heading ---->
							<li><b>Security of Payment Details</b>
								<ol>
									<li>You must take all reasonable steps to keep your Credentials safe and you must
										not disclose
										them or allow them to be used by anyone else. You must not leave the device you
										are using
										unattended while you are using the Service Provider's application or service and
										you must
										make sure that any security credentials stored or displayed on your device are
										kept secure.</li>
									<li>If your device is lost or stolen, or you suspect that another person knows your
										security
										credentials, you must notify us immediately at customerservices@mmob.com.</li>
									<li>If we need to contact you in respect of suspected fraud or any other security
										threat, we will
										use the method which seems most secure.</li>
								</ol>
							</li>
							<!--- sub heading ---->
							<li><b>Our services, the Marketplace and other parties</b>
								<ol>
									<li>Your Gateway Partner is responsible for the Marketplace. Our Services are
										integrated
										within the Marketplace, but we are not responsible for any problems that you may
										have with
										the functionality or suitability of the Marketplace other than in relation to
										our Services.</li>
									<li>We are not responsible for third party content on the Marketplace. In particular
										you should be aware that:
										<ol>
											<li>Marketplace Participants are independent from us and are responsible for
												their own
												products and services and for complying with the laws governing the sale
												or supply of
												their products and services;</li>
											<li>purchasing or subscribing for products and services through the
												Marketplace is done
												at your own risk and these Terms of Use limit our liability for any
												losses you suffer in
												relation to those products or Services;</li>
											<li>the presence of a Marketplace Participant does not mean that we endorse
												or
												recommend them and we cannot guarantee that the products or services
												that they
												offer are suitable for you or that they will be delivered to you as
												promised by the
												Marketplace Participant;</li>
											<li>we are not providing advice in relation to any of the services that our
												Marketplace
												Participants may make available through the Marketplace.</li>
										</ol>
									</li>
									<li>Restrictions on the use of the Marketplace. You agree not to use the Marketplace
										for
										business or commercial purposes. You also agree not to do anything that affects
										the integrity
										or security of the Marketplace or causes (or may cause) harm, damage or
										unreasonable
										inconvenience to other users of the Marketplace or us.</li>
									<li>Your Payment Account Provider is responsible for your Payment Account. We are
										not
										responsible for any problems that you might have with the functionality or
										suitability of your
										Payment Account Provider (e.g. your bank or credit card issuer). We are
										responsible for
										retrieving and transmitting your Account Information safely and securely but not
										for the
										content of your Account Information itself, which is the responsibility of your
										Payment Account
										Provider. If you have any questions in relation to these, you should speak to
										the relevant
										partner that provides the app or website that you are using, or to your Payment
										Account
										Provider.</li>
									<li>Other terms and conditions may apply. Your use of the Marketplace, a Marketplace
										Participant’s services and your Payment Account will also be subject to other
										terms and
										conditions - these Terms of Use will not affect any of those terms. In
										particular, the Gateway
										Partner, Marketplace Participants and your Payment Account Providers will have
										separate
										rules on data protection that will apply to your use of their services.</li>
									<li>Use by third parties of Account Information. Once your Account Information is
										transmitted
										via our software to a third party such as the Gateway Provider or (with your
										consent) any
										Marketplace Participant, that third party becomes responsible for it.</li>
								</ol>
							</li>
							<!--- sub heading ---->
							<li><b>Fees</b>
								<ol>
									<li>We do not charge you to use our Services. However, the Gateway Partner may
										charge you
										for use of their app or services. In turn, the Gateway Partner may pay us fees
										for the services
										we provide to them.</li>
								</ol>
							</li>
							<!--- sub heading ---->
							<li><b>How to complain if things go wrong</b>
								<ol>
									<li>We endeavour to provide a first-class service to our users but if we fail to
										meet your
										expectations you should contact us. We aim to initially respond to any
										complaints with 15
										business days of receipt and provide you with a final response within 35
										business days. </li>
									<li>If you are not happy with the outcome of your complaint you may refer it to the
										UK Financial
										Ombudsman Service, whose details are available at www.financial-ombudsman.org.uk
										or by
										telephoning 0800 023 4567. You may request a copy of our complaints-handling
										procedure at
										any time.
									</li>
									<li>In addition, please note that disputes may be submitted for online resolution to
										the European
										Commission Online Dispute Resolution platform.</li>
								</ol>
							</li>
							<!--- sub heading ---->
							<li><b>Availability</b>
								<ol>
									<li>We do not guarantee the availability of the Services and we reserve the right to
										perform
										maintenance, upgrades or emergency repairs, which may affect the availability of
										the
										Services.</li>
								</ol>
							</li>
							<!--- sub heading ---->
							<li><b>Our liability</b>
								<ol>
									<li>We are responsible to you for foreseeable loss and damage caused by us. If we
										fail to
										comply with these Terms of Use, we are responsible for the loss or damage you
										suffer if it is a
										foreseeable result of our breach or a failure to use reasonable care and skill.
										Loss or damage
										is foreseeable if either it is obvious that it will happen or if, at the time
										you accepted these
										terms, both we and you knew it might happen.
									</li>
									<li>We do not accept responsibility for consequential losses. If we are responsible
										for a
										delay or failure of any Payment Order, we will not be liable for loss of
										opportunity, loss of
										investment or loss of profit relating to any transaction with a Marketplace
										Participant that you
										made or tried to make. </li>
									<li>When we are liable for our agents’ actions. We are responsible for foreseeable
										loss or
										damage arising from our agents’ performance of payment services, but we do not
										accept
										responsibility for any other services that they provide to you. </li>
									<li>We do not exclude or limit in any way our liability to you where it would be
										unlawful to
										do so. This includes liability for death or personal injury caused by our
										negligence or the
										negligence of our employees, agents or subcontractors or for fraud or fraudulent
										misrepresentation.</li>
									<li>We do not exclude or limit liability for our failure to comply with our
										regulatory
										obligations. This includes our obligations under the Payment Services
										Regulations 2017 and
										the FCA Rules.
									</li>
									<li>We are not liable for losses resulting from events outside of our control. We
										will not be
										responsible for any loss you may suffer as a result of abnormal or unforeseeable
										circumstances beyond our reasonable control and which are unavoidable despite
										all our
										reasonable efforts to ensure continuity of service.</li>
								</ol>
							</li>
							<!--- sub heading ---->
							<li><b>Our intellectual property</b>
								<ol>
									<li>MMOB hereby grants you a non-exclusive, non-transferable, revocable license to
										use
										the Marketplace. All other rights in the Marketplace are reserved by MMOB and
										its licensors.</li>
									<li>We reserve all rights in the name “MMOB”, and all related domains and
										sub-domains, our
										logo and our service marks, brand names, trading names and/or trade marks
										appearing
										anywhere on the Service.</li>
									<li>Other trade marks, products and company or brand names mentioned on the Service
										may be
										the trade marks of their respective owners or licensors and all rights in such
										trade marks are
										reserved to their respective owners or licensors.</li>
									<li>Nothing in these Terms of Use should be construed as granting any license or
										right to use
										any of the trade marks or domain names referred to in this paragraph.</li>
									<li>You must not:
										<ol>
											<li>disassemble or attempt to reverse engineer any software in the
												Marketplace, except
												as permitted by law;</li>
											<li>copy, distribute or communicate to the public content from the
												Marketplace or seek to
												copy, remove or alter any regulatory notices, trade marks, logos or
												business names
												from the Marketplace; or</li>
											<li> use a program or application to scrape, copy or index the content from
												the
												Marketplace;</li>
											<li>use or launch automated systems such as bots, spiders or load testers
												that access or
												attempt to access the Marketplace or our Services.</li>
										</ol>
									</li>
								</ol>
							</li>
							<!--- sub heading ---->
							<li><b>Termination and suspension</b>
								<ol>
									<li>We may provide our Services to you on a one-off basis. If you use our Services
										on a
										continuing basis, you can stop using our Services at any time and terminate this
										agreement. If
										you close your Marketplace account, our Services will also end. </li>
									<li>We may suspend the Service or refuse to process any Payment Order at any time:
										<ol>
											<li>if you have broken these Terms of Use in a serious way; </li>
											<li>we reasonably suspect your use of the Services is, or would be,
												unlawful,
												unauthorised, fraudulent or abusive. </li>
										</ol>
										If what you have done can be put right, we will give you a reasonable
										opportunity to do so.
										We will give you at least two months’ notice if we intend to end your rights to
										use the Service.
										We do not need to contact you if it would be unlawful to do so or would
										compromise our
										reasonable security measures.
									</li>
								</ol>
							</li>
							<!--- sub heading ---->
							<li><b>Changes to these Terms of Use</b>
								<ol>
									<li>We may need to change these Terms of Use to reflect changes in law, regulation
										or best
										practice or to deal with additional features which we introduce. </li>
									<li>Unless required by law or regulation or to implement non-material corrections
										(in which case
										we may make changes immediately), we will give you at least two months’ notice
										before
										proposed changes. </li>
									<li>Your use of the Service after the effective date of new Terms of Use (or
										engaging in such
										other conduct as we may reasonably specify) constitutes deemed acceptance to the
										new
										Terms of Use. If you do not accept the proposed changes you have the right to
										close your
										account at any time without charge. </li>
								</ol>
							</li>
							<!--- sub heading ---->
							<li><b>Third party links and services</b>
								<ol>
									<li>Your browsing and interaction on any other website or your use of other
										services, including
										websites and services which have a link to the Marketplace, is subject to the
										rules and
										policies of the relevant website or service. Please read the rules and policies
										applicable to
										that website or service before proceeding.</li>
									<li>The Marketplace, or communications from it or comments within it, may include
										links to thirdparty websites, applications or features (“Third Party Services”).
										These links are provided for
										your information only</li>
									<li>MMOB does not control, maintain or endorse Third Party Services and you
										acknowledge and
										agree that your use of them is at your own risk. We assume no responsibility for
										the content
										or operation of Third Party Services and we will not be liable for any loss or
										damage that may
										arise from your use of them (or such content).</li>
								</ol>
							</li>
							<!--- sub heading ---->
							<li><b>General</b>
								<ol>
									<li>We may transfer this agreement to someone else. We may transfer our rights and
										obligations under these terms to another organisation. We will always tell you
										in writing if this
										happens and we will ensure that the transfer will not affect your rights under
										the contract. </li>
									<li>You need our consent to transfer your rights to someone else. You may only
										transfer
										your rights or your obligations under these terms to another person if we agree
										in writing.</li>
									<li>No rights for third parties. This agreement does not give rise to any rights
										under the
										Contracts (Rights of Third Parties) Act 1999 to enforce any term of this
										agreement.
									</li>
									<li>If a court finds part of this contract illegal, the rest will continue in force.
										Each of the
										paragraphs of these terms operates separately. If any court or relevant
										authority decides that
										any of them are unlawful, the remaining paragraphs will remain in full force and
										effect.</li>
									<li>Even if we delay in enforcing this contract, we can still enforce it later. Even
										if we delay
										in enforcing this contract, we can still enforce it later. If we do not insist
										immediately that you
										do anything you are required to do under these terms, or if we delay in taking
										steps against
										you in respect of your breaking this contract, that will not mean that you do
										not have to do
										those things and it will not prevent us taking steps against you at a later
										date.</li>
									<li>Which laws apply to this contract and where you may bring legal proceedings.
										These
										Terms of Use are governed by English law and you can bring legal proceedings in
										respect of the Service in the English courts. If you live in Scotland, you can
										bring legal proceedings in
										respect of the Service in either the Scottish or the English courts. If you live
										in Northern
										Ireland, you can bring legal proceedings in respect of the Service in either the
										Northern Irish
										or the English courts.
									</li>
								</ol>
							</li>

						</ol>

						<h3>Glossary</h3>
						<table>
							<tbody>
								<tr>
									<th>[Gateway Partner]</th>
									<td>the third party operating the Marketplace (who may also be one
										of your Payment Account Providers) </td>
								</tr>
								<tr>
									<th>AIS</th>
									<td>account information services, which is what we do when we
										securely access and consolidate the information from your bank
										account(s)</td>
								</tr>
								<tr>
									<th>App</th>
									<td>any MMOB application including our mobile application</td>
								</tr>
								<tr>
									<th>Credentials </th>
									<td>your login and security credentials</td>
								</tr>
								<tr>
									<th>Marketplace</th>
									<td>the website and/or mobile application which is provided to you by
										the [Gateway Partner] through which you can (i) access our
										Services and (ii) discover and use products and services from
										Marketplace Participants listed on the marketplace platform </td>
								</tr>
								<tr>
									<th>Marketplace Participant</th>
									<td>a third party operating the Marketplace or any of the participants
										in the Marketplace
									</td>
								</tr>
								<tr>
									<th>Payment Account</th>
									<td>your account with your Payment Account Provider</td>
								</tr>
								<tr>
									<th>Payment Account Provider</th>
									<td>usually your bank but maybe a credit card provider or an emoney firm</td>
								</tr>
								<tr>
									<th>Payment Order</th>
									<td>The details you give to your Payment Account Provider to make a
										payment
									</td>
								</tr>
								<tr>
									<th>PIS</th>
									<td>payment initiation services, which is when we ask your Payment
										Account Provider to make a payment</td>
								</tr>
								<tr>
									<th>Services</th>
									<td>our PIS and AIS, or whichever one is relevant to you</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-secondary" type="button" (click)="yesPressed()">OK</button>
			<!-- <button (click)="yesPressed()" class="btn btn-primary" data-dismiss="modal" -->
			<!-- type="button">{{secondButtonText}}</button> -->
		</div>
	</div>
</div>