.Utilitie, .insurance-sec {
    max-width: 760px;
    margin: 58px auto 0;
    width: 100%;
    text-align: center;
}

.Utilitie-search-box {
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: none;
    outline: none;
    background: #efefef url(src/assets/images/search-icon.png) no-repeat scroll right center;
    background-size: 30px;
    cursor: pointer;
    width: 70%;
    padding: 2px 30px 2px 10px;
    margin-top: 20px;
}
.time-box {
    padding: 5px 15px;
    border-radius: 20px;
    max-width: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ccc

}
.brand-box {
    padding: 10px 25px;
    margin: 20px 0px;
    border: 1px solid gray;
    border-radius: 20px;
}
.brand-box .row {
    margin: 0;
    padding: 0 !important;
}
.time-box img {
    width: 20px;
}
.time-box p {
    margin: 0;
    color: #fff;
    font-size: 14px;
}
.logo-box {
    width: 100px;
    text-align: left;
}
.utilitie-dis {
    width: 100%;
    max-width: 520px;
    text-align: left;
    font-size: 14px;
    text-transform: capitalize;
    margin: 5px 0 0;
}
.Utilitie .brand-box:nth-of-type(2) {
    border: 1px solid #93d8d5;
}
.Utilitie .brand-box:first-of-type {
    border: 1px solid #8d2fb9;
}
.Utilitie .brand-box:last-of-type {
    border: 1px solid #8af181;
}

.Utilitie .brand-box:nth-of-type(2) .time-box {
    background-color: #93d8d5;
}
.Utilitie .brand-box:first-of-type .time-box {
    background-color: #8d2fb9;
}
.Utilitie .brand-box:last-of-type .time-box {
    background-color: #8af181;
}

.insurance-sec .brand-box:first-of-type {
    border: 1px solid #7571f4;
}

.insurance-sec .brand-box:first-of-type .time-box {
    background: #7571f4;
}

.insurance-sec .brand-box:nth-of-type(2) {
    border: 1px solid #fd9c9c;
}

.insurance-sec .brand-box:nth-of-type(2) .time-box {
    background: #fd9c9c;
}

.insurance-sec .brand-box:last-of-type {
    border: 1px solid #f490d4;
}

.insurance-sec .brand-box:last-of-type .time-box {
    background: #f490d4;
}
/******************Media query fot utilities starts here********************************************/
@media (max-width: 767px) {
    .click-button {
        width: 146px;
        margin: 0 4px;

    }

    .join-memebers h3 {
        margin: 25px 0 30px;
        font-size: 20px;
    }

    .setup-box, .setup-box .next-btn {
        margin: 20px 0 0;
    }

    .logo-img {
        margin: 0 auto 20px;
        width: 200px;
    }

    .align-center {
        height: auto;
        padding: 15px;
    }

    #slider .item img {
        width: 150px;
    }

    .account-table {
        max-width: 100%;
    }

    .account-table table tr td:first-child {
        width: 10%;
    }

    .account-table table tr td:nth-child(2) {
        width: 88%;
    }

    .Utilitie .time-box {
        width: 120px;
        max-width: 100%;
    }

    .Utilitie .utilitie-dis {
        margin: 15px 0 0;
    }
}
