    <div class="insurance-sec">
      <figure><img src="{{'images/merchants-icon.png' | assetsPath}}" alt="utilitie icon"></figure>
      <h5><strong>Merchants</strong></h5>
      <form>
        <input type="search" class="Utilitie-search-box">
      </form>
      <div class="brand-box">
        <div class="row justify-content-between px-1">
          <div class="logo-box"><img src="{{'images/cuvva-img.png' | assetsPath}}" alt="cuvva"></div>
          <div class="time-box" (click)="commonAlertPopUp()">
            <img src="{{'images/clock.png' | assetsPath}}" alt="clock image">
            <p>10 mins</p>
          </div>
        </div>
        <p class="utilitie-dis">
          Argos, Get what you want today with Fast Track delivery, 7 days a week.
        </p>
      </div>
      <div class="brand-box">
        <div class="row justify-content-between px-1">
          <div class="logo-box"><img src="{{'images/brolly-img.png' | assetsPath}}" alt="brolly"></div>
          <div class="time-box" (click)="commonAlertPopUp()">
            <img src="{{'images/clock.png' | assetsPath}}" alt="clock image">
            <p>8 mins</p>
          </div>
        </div>
        <p class="utilitie-dis">
          JD Sports, undisputed king of trainers.
        </p>
      </div>
      <div class="brand-box">
        <div class="row justify-content-between px-1">
          <div class="logo-box"><img src="{{'images/lemonade-img.png' | assetsPath}}" alt="lemonade"></div>
          <div class="time-box" (click)="commonAlertPopUp()">
            <img src="{{'images/clock.png' | assetsPath}}" alt="clock image">
            <p>3 mins</p>
          </div>
        </div>
        <p class="utilitie-dis">
          Amazon, shop on our official site and save money. Free UK delivery on eligible orders!
        </p>
      </div>
    </div>