<div class="head-section">
  <a href="#" class="back-btn">
  </a>
  <figure><img src="assets/images/yielders-logo.png" alt="yielders-logo-img"></figure>
  <h6>wallet: <span>&#163;</span>5,000</h6>
</div>
<div class="wrapper">
  <div class="property-platform">
    <p>Yielders crowd investing property platform that gives you easy access the UK<br> property market and allows you
      to earn competitive returns.</p>
    <div class="filters">
      <select>
        <option>Property Type</option>
      </select>
      <select>
        <option>Risk Factor</option>
      </select>
      <select>
        <option>Term</option>
      </select>
    </div>
    <div class="result-box">
      <div class="figure-box">
        <a class="open-btn" href="#">Open</a>
        <img src="assets/images/no-img.png" alt="property-img">
        <div class="funding-goal"><span>Total Funding Goal</span>&#163;100,000</div>
      </div>
      <div class="detail-info-box">
        <div class="head-bar">
          <h2>Assert Terms Test </h2>
          <p>1 London road, United Kingdom</p>
        </div>
        <p>Testing correct them being used (business #840), also testing no relisting fee</p>
        <div class="bottom-part">
          <ul>
            <li>
              <h4>Investment Term Remaining</h4>
              <p>59 Months</p>
            </li>
            <li>
              <h4>Projected Rent</h4>
              <p>15.00%</p>
            </li>
            <li>
              <h4>Projected Return</h4>
              <p>15.00%</p>
            </li>
          </ul>
          <ul class="amount">
            <li>&#163;100</li>
            <li>0.1%</li>
            <li>&#163;100,000</li>
          </ul>
        </div>
      </div>
      <div class="proprty-details-box"><a href="#">See Property Details</a></div>
    </div>
    <div class="result-box">
      <div class="figure-box">
        <a class="open-btn" href="#">Open</a>
        <img src="assets/images/no-img.png" alt="property-img">
        <div class="funding-goal"><span>Total Funding Goal</span>&#163;100,000</div>
      </div>
      <div class="detail-info-box">
        <div class="head-bar">
          <h2>Assert Terms Test </h2>
          <p>1 London road, United Kingdom</p>
        </div>
        <p>Testing correct them being used (business #840), also testing no relisting fee</p>
        <div class="bottom-part">
          <ul>
            <li>
              <h4>Investment Term Remaining</h4>
              <p>59 Months</p>
            </li>
            <li>
              <h4>Projected Rent</h4>
              <p>15.00%</p>
            </li>
            <li>
              <h4>Projected Return</h4>
              <p>15.00%</p>
            </li>
          </ul>
          <ul class="amount">
            <li>&#163;100</li>
            <li>0.1%</li>
            <li>&#163;100,000</li>
          </ul>
        </div>
      </div>
      <div class="proprty-details-box"><a href="#">See Property Details</a></div>
    </div>
    <div class="result-box">
      <div class="figure-box">
        <a class="open-btn" href="#">Open</a>
        <img src="assets/images/no-img.png" alt="property-img">
        <div class="funding-goal"><span>Total Funding Goal</span>&#163;100,000</div>
      </div>
      <div class="detail-info-box">
        <div class="head-bar">
          <h2>Assert Terms Test </h2>
          <p>1 London road, United Kingdom</p>
        </div>
        <p>Testing correct them being used (business #840), also testing no relisting fee</p>
        <div class="bottom-part">
          <ul>
            <li>
              <h4>Investment Term Remaining</h4>
              <p>59 Months</p>
            </li>
            <li>
              <h4>Projected Rent</h4>
              <p>15.00%</p>
            </li>
            <li>
              <h4>Projected Return</h4>
              <p>15.00%</p>
            </li>
          </ul>
          <ul class="amount">
            <li>&#163;100</li>
            <li>0.1%</li>
            <li>&#163;100,000</li>
          </ul>
        </div>
      </div>
      <div class="proprty-details-box"><a href="#">See Property Details</a></div>
    </div>
  </div>
</div>
<app-yielder-footer></app-yielder-footer>