<div class="main">
  <div class="wrapper">
    <div class="market-place">
      <div class="market-place-header">
        <figure class="market-place-img"><img alt="Market Place image" src="{{'images/market-place.png' | assetsPath}}">
        </figure>
        <h5><strong>Welcome to the Market Place</strong></h5>
        <form>
          <input class="market-place-search-box" type="search">
        </form>
      </div>
      <!-- widget-boxes -->
      <div class="market-place-boxes">
        <div class="row justify-content-around mt-4">
          <!-- insurance-box -->
          <div class="col-sm insurance box">
            <a [routerLink]="['/insurance']">
              <figure><img alt="Insurance image" src="{{'images/health-insurance.png' | assetsPath}}"></figure>
              <h6><strong>Insurance</strong></h6>
            </a>
          </div>
          <!-- merchants-box -->
          <div class="col-sm merchants box">
            <a [routerLink]="['/merchants']">
              <figure><img alt="Merchants image" src="{{'images/merchants-icon.png' | assetsPath}}"></figure>
              <h6><strong>Merchants</strong></h6>
            </a>
          </div>
          <!-- utilities-box -->
          <div class="col-sm utilities box">
            <a [routerLink]="['/utilities/accessUtilities']">
              <figure><img alt="Utilities image" src="{{'images/document.png' | assetsPath}}"></figure>
              <h6><strong>Utilities</strong></h6>
            </a>
          </div>
        </div>
        <div class="row justify-content-around">
          <!-- lending-box -->
          <div class="col-sm lending box">
            <a [routerLink]="['/lending']">
              <figure><img alt="Lending image" src="{{'images/lending-icon.png' | assetsPath}}"></figure>
              <h6><strong>Lending</strong></h6>
            </a>
          </div>
          <!-- investments-box -->
          <div class="col-sm investments box">
            <a [routerLink]="['/investments']">
              <figure><img alt="Investments image" src="{{'images/investment-icon.png' | assetsPath}}"></figure>
              <h6><strong>Investments</strong></h6>
            </a>
          </div>
          <!-- credit-box -->
          <div class="col-sm credit box">
            <a href="#">
              <figure><img alt="Credit Score image" src="{{'images/credit-card.png' | assetsPath}}"></figure>
              <h6><strong>Credit Score</strong></h6>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
