<!--Starts two factor Authentication window-->
<div class="align-center setup-section">
  <figure><img src="{{'images/authentication.png' | assetsPath}}" alt="authentication-img"></figure>
  <h5><strong>Two Factor Authentication</strong></h5>
  <div class="setup-box">
    <p>Please enter the verfication code that has been <span>sent to your device registered with your mmob
        account.</span></p>
    <form [formGroup]="twoFactorForm">
      <div class="form-group">
        <input type="password" formControlName="twoFactorPassword" class="form-control">
        <app-show-errors [control]="twoFactorForm.controls.twoFactorPassword"></app-show-errors>
      </div>
      <input type="button" class="next-btn" value="Confirm " (click)="onNext()">
    </form>
  </div>
</div>
<!--End-->