/********************************************Modal css starts here***********************************************************/
.modal-dialog-centered {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - 1rem);
	margin: 0 auto;
}
.modal-content{width:100%;}
.modal-body h6{margin:0 0 14px;color: #000; font-weight:500;}
.modal-body p{font-size:13px;font-weight: 500;}
.modal-footer button{cursor:pointer;}
button.btn.btn-primary {
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
	font-weight:500;
}
button.btn.btn-secondary {
    color: #0275d8;
    text-transform: uppercase;
	border:0;
	padding: 10px 30px;
	font-weight:500;
}
button.btn.btn-primary:hover, button.btn.btn-secondary:hover{background: #00008b;color: #fff;}
.modal-footer {
    border: 0;
}
