<div class="align-center login">
  <div class="site-logo"><img alt="logo" src="{{'images/logo.png' | assetsPath}}"></div>
  <h3>Reset Password</h3>
  <form [formGroup]="resetPasswordForm">
    <div class="form-group">
      <label>Enter new password</label>
      <input class="form-control" formControlName="password" placeholder="************" type="password">
      <app-show-errors [control]="resetPasswordForm.controls.password"></app-show-errors>
    </div>
    <div class="form-group">
      <label>Re-enter new password</label>
      <input class="form-control" formControlName="confirmPassword" placeholder="************" type="password">
      <app-show-errors [control]="resetPasswordForm.controls.confirmPassword"></app-show-errors>
    </div>
    <input (click)="onNext()" type="button" value="confirm">
  </form>
</div>
