<div class="align-center login">
    <div class="site-logo"><img src="{{'images/logo.png' | assetsPath}}" alt="logo"></div>
    <h3>Reset Password</h3>
    <form [formGroup]="resetPasswordForm">
        <div class="form-group">
            <label>Enter new password</label>
            <input class="form-control" type="password" formControlName="password" placeholder="************">
            <app-show-errors [control]="resetPasswordForm.controls.password"></app-show-errors>
        </div>
        <div class="form-group">
            <label>Re-enter new password</label>
            <input class="form-control" type="password" formControlName="confirmPassword" placeholder="************">
            <app-show-errors [control]="resetPasswordForm.controls.confirmPassword"></app-show-errors>
        </div>
        <input type="button" value="confirm" (click)="onNext()">
    </form>
</div>