    <div class="kyc">
      <figure><img src="{{'images/search.png' | assetsPath}}" alt="search-img"></figure>
      <h5><strong>Select your ID type</strong></h5>
      <br><br>
      <p>You will be required to uplaod a picture of the front and back next.</p>
      <br>
      <table class="table id-table">
        <tbody>
          <tr>
            <td>
              <figure><img src="{{'images/pp-icon.png' | assetsPath}}" alt="hsbc-icon"></figure>
            </td>
            <td>
              <h3>Passport</h3>
            </td>
            <td><a href="#">></a></td>
          </tr>
          <tr>
            <td>
              <figure><img src="{{'images/dl-icon.png' | assetsPath}}" alt="hsbc-icon"></figure>
            </td>
            <td>
              <h3>Driving License</h3>
            </td>
            <td><a href="#">></a></td>
          </tr>
          <tr>
            <td>
              <figure><img src="{{'images/nic-icon.png' | assetsPath }}" alt="hsbc-icon"></figure>
            </td>
            <td>
              <h3>National Identity Card</h3>
            </td>
            <td><a href="#">></a></td>
          </tr>
          <tr>
            <td>
              <figure><img src="{{'images/rpc-icon.png' | assetsPath}}" alt="hsbc-icon"></figure>
            </td>
            <td>
              <h3>Residence Permit Card</h3>
            </td>
            <td><a href="#">></a></td>
          </tr>
        </tbody>
      </table>
    </div>