<div class="kyc">
  <figure><img alt="search-img" src="{{'images/search.png' | assetsPath}}"></figure>
  <h5><strong>Select your ID type</strong></h5>
  <br><br>
  <p>You will be required to uplaod a picture of the front and back next.</p>
  <br>
  <table class="table id-table">
    <tbody>
    <tr>
      <td>
        <figure><img alt="hsbc-icon" src="{{'images/pp-icon.png' | assetsPath}}"></figure>
      </td>
      <td>
        <h3>Passport</h3>
      </td>
      <td><a [routerLink]="['../issuingCountry']">></a></td>
    </tr>
    <tr>
      <td>
        <figure><img alt="hsbc-icon" src="{{'images/dl-icon.png' | assetsPath}}"></figure>
      </td>
      <td>
        <h3>Driving License</h3>
      </td>
      <td><a [routerLink]="['../issuingCountry']">></a></td>
    </tr>
    <tr>
      <td>
        <figure><img alt="hsbc-icon" src="{{'images/nic-icon.png' | assetsPath }}"></figure>
      </td>
      <td>
        <h3>National Identity Card</h3>
      </td>
      <td><a [routerLink]="['../issuingCountry']">></a></td>
    </tr>
    <tr>
      <td>
        <figure><img alt="hsbc-icon" src="{{'images/rpc-icon.png' | assetsPath}}"></figure>
      </td>
      <td>
        <h3>Residence Permit Card</h3>
      </td>
      <td><a [routerLink]="['../issuingCountry']">></a></td>
    </tr>
    </tbody>
  </table>
</div>
