<div class="insurance-sec">
  <figure><img alt="utilitie icon" src="{{'images/health-insurance.png' | assetsPath}}"></figure>
  <h5><strong>Insurance</strong></h5>
  <form [formGroup]="insurance">
    <input class="Utilitie-search-box" type="search">
    <div (click)="onNext()" class="brand-box">
      <div class="row justify-content-between">
        <div class="logo-box"><img alt="cuvva" src="{{'images/cuvva-img.png' | assetsPath}}"></div>
        <div class="time-box">
          <img alt="clock image" src="{{'images/clock.png' | assetsPath}}">
          <p>4 mins</p>
        </div>
      </div>
      <p class="utilitie-dis">
        We are cutting out the jargon, the paperwork and the call centre queues. Get temporary car
        insurance
        and travel insurance today.
      </p>
    </div>
    <div (click)="onNext()" class="brand-box">
      <div class="row justify-content-between">
        <div class="logo-box"><img alt="brolly" src="{{'images/brolly-img.png' | assetsPath}}"></div>
        <div class="time-box">
          <img alt="clock image" src="{{'images/clock.png' | assetsPath}}">
          <p>4 mins</p>
        </div>
      </div>
      <p class="utilitie-dis">
        We are building Brolly to create insurance that just works, enabling people to protect the
        things
        they care about in a simple and joyful way.
      </p>
    </div>
    <div (click)="onNext()" class="brand-box">
      <div class="row justify-content-between">
        <div class="logo-box"><img alt="lemonade" src="{{'images/lemonade-img.png' | assetsPath}}">
        </div>
        <div class="time-box">
          <img alt="clock image" src="{{'images/clock.png' | assetsPath}}">
          <p>9 mins</p>
        </div>
      </div>
      <p class="utilitie-dis">
        Lemonade Reverses The Traditional Insurance Model. We Treat The Premiums You Pay As If It's Your Money, Not
        Ours. With Lemonade, Everything Becomes Simple And Transparent. We Take A Flat Fee, Pay Claims Super Fast, And
        Give Back What's Left To Causes You Care About.
      </p>
    </div>
  </form>
</div>
