<div class="align-center setup-section">

  <div class="account-table">
    <table class="table">
      <tbody>
        <tr *ngFor="let bank of banksArray">
          <td>
            <figure><img [src]="bank.image" alt="hsbc-icon"></figure>
          </td>
          <td>
            <h3>{{bank.name}}</h3>
          </td>
          <td><a [routerLink]="'/getting-setup/request-bank-data'" (click)="setBankName(bank.name)">></a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="setup-box">
    <form [formGroup]="banksDetailForm">
      <input (click)="onNext()" class="next-btn" href="#" type="button" value="Skip for now">
    </form>
  </div>
</div>