<!--Starts add data from HSBC window-->
<div class="align-center setup-section">
  <a href="#" class="add-btn">Add account <i><img src="{{'images/plus.svg' | assetsPath}}" alt="icon"></i></a>
  <div class="account-table">
    <table class="table">
      <tbody>
        <tr>
          <td>
            <figure><img src="{{'images/natwest-icon.png' | assetsPath}}" alt="hsbc-icon"></figure>
          </td>
          <td>
            <h3>Natwest</h3>
          </td>
          <td><a href="#">></a></td>
        </tr>
        <tr>
          <td>
            <figure><img src="{{'images/hsbc-icon.png' | assetsPath}}" alt="hsbc-icon"></figure>
          </td>
          <td>
            <h3>HSBC</h3>
          </td>
          <td><a href="#">></a></td>
        </tr>
        <tr>
          <td>
            <figure><img src="{{'images/halifax-icon.png' | assetsPath}}" alt="hsbc-icon"></figure>
          </td>
          <td>
            <h3>Halifax</h3>
          </td>
          <td><a href="#">></a></td>
        </tr>
        <tr>
          <td>
            <figure><img src="{{'images/santander-icon.png' | assetsPath}}" alt="hsbc-icon"></figure>
          </td>
          <td>
            <h3>Santender</h3>
          </td>
          <td><a href="#">></a></td>
        </tr>
        <tr>
          <td>
            <figure><img src="{{'images/lloyd-icon.png' | assetsPath}}" alt="hsbc-icon"></figure>
          </td>
          <td>
            <h3>Lloyds</h3>
          </td>
          <td><a href="#">></a></td>
        </tr>
        <tr>
          <td>
            <figure><img src="{{'images/royal-bank-icon.png' | assetsPath}}" alt="hsbc-icon"></figure>
          </td>
          <td>
            <h3>Royal Bank of Scotland</h3>
          </td>
          <td><a href="#">></a></td>
        </tr>
        <tr>
          <td>
            <figure><img src="{{'images/barclays-icon.png' | assetsPath}}" alt="hsbc-icon"></figure>
          </td>
          <td>
            <h3>Barclays</h3>
          </td>
          <td><a href="#">></a></td>
        </tr>
        <tr>
          <td>
            <figure><img src="{{'images/starling-icon.png' | assetsPath}}" alt="hsbc-icon"></figure>
          </td>
          <td>
            <h3>Starling Bank</h3>
          </td>
          <td><a href="#">></a></td>
        </tr>
        <tr>
          <td>
            <figure><img src="{{'images/revolut-icon.png' | assetsPath}}" alt="hsbc-icon"></figure>
          </td>
          <td>
            <h3>Revolut</h3>
          </td>
          <td><a href="#">></a></td>
        </tr>
        <tr>
          <td>
            <figure><img src="{{'images/monzo-icon.png' | assetsPath}}" alt="hsbc-icon"></figure>
          </td>
          <td>
            <h3>Monzo</h3>
          </td>
          <td><a href="#">></a></td>
        </tr>
        <tr>
          <td>
            <figure><img src="{{'images/cimb-icon.png' | assetsPath}}" alt="hsbc-icon"></figure>
          </td>
          <td>
            <h3>CIMB Bank</h3>
          </td>
          <td><a href="#">></a></td>
        </tr>
        <tr>
          <td>
            <figure><img src="{{'images/tsb-icon.png' | assetsPath}}" alt="hsbc-icon"></figure>
          </td>
          <td>
            <h3>TSB</h3>
          </td>
          <td><a href="#">></a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="setup-box">
    <form [formGroup]="banksDetailForm">
      <input type="button" href="#" class="next-btn" value="Next" (click)="onNext()">
    </form>
  </div>
</div>