<div class="align-center setup-section">
  <a class="add-btn" href="#">Add account <i><img alt="icon" src="{{'images/plus.svg' | assetsPath}}"></i></a>
  <div class="account-table">
    <table class="table">
      <tbody>
      <tr>
        <td>
          <figure><img alt="hsbc-icon" src="{{'images/natwest-icon.png' | assetsPath}}"></figure>
        </td>
        <td>
          <h3>Natwest</h3>
        </td>
        <td><a href="#">></a></td>
      </tr>
      <tr>
        <td>
          <figure><img alt="hsbc-icon" src="{{'images/hsbc-icon.png' | assetsPath}}"></figure>
        </td>
        <td>
          <h3>HSBC</h3>
        </td>
        <td><a href="#">></a></td>
      </tr>
      <tr>
        <td>
          <figure><img alt="hsbc-icon" src="{{'images/halifax-icon.png' | assetsPath}}"></figure>
        </td>
        <td>
          <h3>Halifax</h3>
        </td>
        <td><a href="#">></a></td>
      </tr>
      <tr>
        <td>
          <figure><img alt="hsbc-icon" src="{{'images/santander-icon.png' | assetsPath}}"></figure>
        </td>
        <td>
          <h3>Santender</h3>
        </td>
        <td><a href="#">></a></td>
      </tr>
      <tr>
        <td>
          <figure><img alt="hsbc-icon" src="{{'images/lloyd-icon.png' | assetsPath}}"></figure>
        </td>
        <td>
          <h3>Lloyds</h3>
        </td>
        <td><a href="#">></a></td>
      </tr>
      <tr>
        <td>
          <figure><img alt="hsbc-icon" src="{{'images/royal-bank-icon.png' | assetsPath}}"></figure>
        </td>
        <td>
          <h3>Royal Bank of Scotland</h3>
        </td>
        <td><a href="#">></a></td>
      </tr>
      <tr>
        <td>
          <figure><img alt="hsbc-icon" src="{{'images/barclays-icon.png' | assetsPath}}"></figure>
        </td>
        <td>
          <h3>Barclays</h3>
        </td>
        <td><a href="#">></a></td>
      </tr>
      <tr>
        <td>
          <figure><img alt="hsbc-icon" src="{{'images/starling-icon.png' | assetsPath}}"></figure>
        </td>
        <td>
          <h3>Starling Bank</h3>
        </td>
        <td><a href="#">></a></td>
      </tr>
      <tr>
        <td>
          <figure><img alt="hsbc-icon" src="{{'images/revolut-icon.png' | assetsPath}}"></figure>
        </td>
        <td>
          <h3>Revolut</h3>
        </td>
        <td><a href="#">></a></td>
      </tr>
      <tr>
        <td>
          <figure><img alt="hsbc-icon" src="{{'images/monzo-icon.png' | assetsPath}}"></figure>
        </td>
        <td>
          <h3>Monzo</h3>
        </td>
        <td><a href="#">></a></td>
      </tr>
      <tr>
        <td>
          <figure><img alt="hsbc-icon" src="{{'images/cimb-icon.png' | assetsPath}}"></figure>
        </td>
        <td>
          <h3>CIMB Bank</h3>
        </td>
        <td><a href="#">></a></td>
      </tr>
      <tr>
        <td>
          <figure><img alt="hsbc-icon" src="{{'images/tsb-icon.png' | assetsPath}}"></figure>
        </td>
        <td>
          <h3>TSB</h3>
        </td>
        <td><a href="#">></a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="setup-box">
    <form [formGroup]="banksDetailForm">
      <input (click)="onNext()" class="next-btn" href="#" type="button" value="Next">
    </form>
  </div>
</div>
