<div class="kyc">
  <figure><img alt="consent-img" src="{{'images/consent.png' | assetsPath}}"></figure>
  <h5><strong>Consent Management Portal</strong></h5><br>
  <p>mmob have your permissions to access data from the below third parties. You can manage all external connections on
    this page</p><br>
  <p>Information accessed by mmob from your account may be shared with third party product providers on the market
    place. <br>mmob will always ask for your prior consent before sharing data with a third party on the Market Place.
  </p>
  <br>
  <div class="consent-boxes">
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button aria-controls="collapseOne" aria-expanded="true" class="btn btn-link btn-block text-left"
                    data-target="#collapseOne" data-toggle="collapse" type="button">
              <figure><img alt="consent-img" src="{{'images/my-money.png' | assetsPath}}"></figure>
              My Money
            </button>
          </h2>
        </div>
        <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordionExample" id="collapseOne">
          <div class="card-body">
            <table class="table">
              <thead>
              <tr>
                <th></th>
                <th>Provider</th>
                <th></th>
                <th>Last Updated</th>
                <th>Days Remaining</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <figure><img alt="hsbc-icon" src="{{'images/hsbc-icon.png' | assetsPath}}"></figure>
                </td>
                <td>HSBC</td>
                <td>
                  <div class="toggle-button-cover">
                    <div class="button-cover">
                      <div class="button r" id="button-1">
                        <input (click)="onClick()" class="checkbox" type="checkbox">
                        <div class="knobs"></div>
                        <div class="layer"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>26-jul-2020</td>
                <td>67</td>
              </tr>
              <tr>
                <td>
                  <figure><img alt="hsbc-icon" src="{{'images/barclays-icon.png' | assetsPath}}"></figure>
                </td>
                <td>Barclays</td>
                <td>
                  <div class="toggle-button-cover">
                    <div class="button-cover">
                      <div class="button r" id="button-1">
                        <input class="checkbox" type="checkbox">
                        <div class="knobs"></div>
                        <div class="layer"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>31-jul-2020</td>
                <td>54</td>
              </tr>
              <tr>
                <td>
                  <figure><img alt="hsbc-icon" src="{{'images/santander-icon.png' | assetsPath}}"></figure>
                </td>
                <td>Santander</td>
                <td>
                  <div class="toggle-button-cover">
                    <div class="button-cover">
                      <div class="button r" id="button-1">
                        <input class="checkbox" type="checkbox">
                        <div class="knobs"></div>
                        <div class="layer"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>01-Aug-2020</td>
                <td>49</td>
              </tr>
              <tr>
                <td>
                  <figure><img alt="hsbc-icon" src="{{'images/cimb-icon.png' | assetsPath}}"></figure>
                </td>
                <td>CIMB Bank</td>
                <td>
                  <div class="toggle-button-cover">
                    <div class="button-cover">
                      <div class="button r" id="button-1">
                        <input class="checkbox" type="checkbox">
                        <div class="knobs"></div>
                        <div class="layer"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>12-Aug-2020</td>
                <td>12</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button aria-controls="collapseTwo" aria-expanded="true" class="btn btn-link btn-block text-left collapsed"
                    data-target="#collapseTwo" data-toggle="collapse" type="button">
              <figure><img alt="consent-img" src="{{'images/my-home.png' | assetsPath}}"></figure>
              My Home
            </button>
          </h2>
        </div>
        <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordionExample" id="collapseTwo">
          <div class="card-body">
            <table class="table">
              <thead>
              <tr>
                <th></th>
                <th>Provider</th>
                <th></th>
                <th>Last Updated</th>
                <th>Days Remaining</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <figure><img alt="hsbc-icon" src="{{'images/hsbc-icon.png' | assetsPath}}"></figure>
                </td>
                <td>HSBC</td>
                <td>
                  <div class="toggle-button-cover">
                    <div class="button-cover">
                      <div class="button r" id="button-1">
                        <input class="checkbox" type="checkbox">
                        <div class="knobs"></div>
                        <div class="layer"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>26-jul-2020</td>
                <td>67</td>
              </tr>
              <tr>
                <td>
                  <figure><img alt="hsbc-icon" src="{{'images/octopus-energy-icon.png' | assetsPath}}"></figure>
                </td>
                <td>Octopus Energy</td>
                <td>
                  <div class="toggle-button-cover">
                    <div class="button-cover">
                      <div class="button r" id="button-1">
                        <input class="checkbox" type="checkbox">
                        <div class="knobs"></div>
                        <div class="layer"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>31-jul-2020</td>
                <td>54</td>
              </tr>
              <tr>
                <td>
                  <figure><img alt="hsbc-icon" src="{{'images/ee-icon.png' | assetsPath}}"></figure>
                </td>
                <td>EE</td>
                <td>
                  <div class="toggle-button-cover">
                    <div class="button-cover">
                      <div class="button r" id="button-1">
                        <input class="checkbox" type="checkbox">
                        <div class="knobs"></div>
                        <div class="layer"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>01-Aug-2020</td>
                <td>49</td>
              </tr>
              <tr>
                <td>
                  <figure><img alt="hsbc-icon" src="{{'images/brolly-icon.png' | assetsPath}}"></figure>
                </td>
                <td>Brolly</td>
                <td>
                  <div class="toggle-button-cover">
                    <div class="button-cover">
                      <div class="button r" id="button-1">
                        <input class="checkbox" type="checkbox">
                        <div class="knobs"></div>
                        <div class="layer"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>12-Aug-2020</td>
                <td>12</td>
              </tr>
              <tr>
                <td>
                  <figure><img alt="hsbc-icon" src="{{'images/british-gas-icon.png' | assetsPath}}"></figure>
                </td>
                <td>British Gas</td>
                <td>
                  <div class="toggle-button-cover">
                    <div class="button-cover">
                      <div class="button r" id="button-1">
                        <input class="checkbox" type="checkbox">
                        <div class="knobs"></div>
                        <div class="layer"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>12-Aug-2020</td>
                <td>12</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button aria-controls="collapseThree" aria-expanded="true" class="btn btn-link btn-block text-left collapsed"
                    data-target="#collapseThree" data-toggle="collapse" type="button">
              <figure><img alt="consent-img" src="{{'images/my-family.png' | assetsPath}}"></figure>
              My Family
            </button>
          </h2>
        </div>
        <div aria-labelledby="headingThree" class="collapse" data-parent="#accordionExample" id="collapseThree">
          <div class="card-body">
            <table class="table">
              <thead>
              <tr>
                <th></th>
                <th>Provider</th>
                <th></th>
                <th>Last Updated</th>
                <th>Days Remaining</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <figure><img alt="hsbc-icon" src="{{'images/aviva-icon.png' | assetsPath}}"></figure>
                </td>
                <td>Aviva</td>
                <td>
                  <div class="toggle-button-cover">
                    <div class="button-cover">
                      <div class="button r" id="button-1">
                        <input class="checkbox" type="checkbox">
                        <div class="knobs"></div>
                        <div class="layer"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>26-jul-2020</td>
                <td>67</td>
              </tr>
              <tr>
                <td>
                  <figure><img alt="hsbc-icon" src="{{'images/gohenry-icon.png' | assetsPath}}"></figure>
                </td>
                <td>GoHenry</td>
                <td>
                  <div class="toggle-button-cover">
                    <div class="button-cover">
                      <div class="button r" id="button-1">
                        <input class="checkbox" type="checkbox">
                        <div class="knobs"></div>
                        <div class="layer"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>31-jul-2020</td>
                <td>54</td>
              </tr>
              <tr>
                <td>
                  <figure><img alt="bupa-icon" src="{{'images/bupa-icon.png' | assetsPath}}"></figure>
                </td>
                <td>BUPA</td>
                <td>
                  <div class="toggle-button-cover">
                    <div class="button-cover">
                      <div class="button r" id="button-1">
                        <input class="checkbox" type="checkbox">
                        <div class="knobs"></div>
                        <div class="layer"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>01-Aug-2020</td>
                <td>49</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFour">
          <h2 class="mb-0">
            <button aria-controls="collapseFour" aria-expanded="true" class="btn btn-link btn-block text-left collapsed"
                    data-target="#collapseFour" data-toggle="collapse" type="button">
              <figure><img alt="consent-img" src="{{'images/my-car.png' | assetsPath}}"></figure>
              My Car
            </button>
          </h2>
        </div>
        <div aria-labelledby="headingFour" class="collapse" data-parent="#accordionExample" id="collapseFour">
          <div class="card-body">
            <table class="table">
              <thead>
              <tr>
                <th></th>
                <th>Provider</th>
                <th></th>
                <th>Last Updated</th>
                <th>Days Remaining</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <figure><img alt="oddle-icon" src="{{'images/oodle-icon.png' | assetsPath}}"></figure>
                </td>
                <td>Oodle</td>
                <td>
                  <div class="toggle-button-cover">
                    <div class="button-cover">
                      <div class="button r" id="button-1">
                        <input class="checkbox" type="checkbox">
                        <div class="knobs"></div>
                        <div class="layer"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>26-jul-2020</td>
                <td>67</td>
              </tr>
              <tr>
                <td>
                  <figure><img alt="hsbc-icon" src="{{'images/cuvva-icon.png' | assetsPath}}"></figure>
                </td>
                <td>Cuvva</td>
                <td>
                  <div class="toggle-button-cover">
                    <div class="button-cover">
                      <div class="button r" id="button-1">
                        <input class="checkbox" type="checkbox">
                        <div class="knobs"></div>
                        <div class="layer"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>31-jul-2020</td>
                <td>54</td>
              </tr>
              <tr>
                <td>
                  <figure><img alt="bupa-icon" src="{{'images/dvla-icon.png' | assetsPath}}"></figure>
                </td>
                <td>DVLA</td>
                <td>
                  <div class="toggle-button-cover">
                    <div class="button-cover">
                      <div class="button r" id="button-1">
                        <input class="checkbox" type="checkbox">
                        <div class="knobs"></div>
                        <div class="layer"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>01-Aug-2020</td>
                <td>49</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFive">
          <h2 class="mb-0">
            <button aria-controls="collapseFive" aria-expanded="true" class="btn btn-link btn-block text-left collapsed"
                    data-target="#collapseFive" data-toggle="collapse" type="button">
              <figure><img alt="consent-img" src="{{'images/my-investments.png' | assetsPath}}"></figure>
              My
              Investments
            </button>
          </h2>
        </div>
        <div aria-labelledby="headingFive" class="collapse" data-parent="#accordionExample" id="collapseFive">
          <div class="card-body">
            <table class="table">
              <thead>
              <tr>
                <th></th>
                <th>Provider</th>
                <th></th>
                <th>Last Updated</th>
                <th>Days Remaining</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <figure><img alt="oddle-icon" src="{{'images/yielders-icon.png' | assetsPath}}"></figure>
                </td>
                <td>Yielders</td>
                <td>
                  <div class="toggle-button-cover">
                    <div class="button-cover">
                      <div class="button r" id="button-1">
                        <input class="checkbox" type="checkbox">
                        <div class="knobs"></div>
                        <div class="layer"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>26-jul-2020</td>
                <td>67</td>
              </tr>
              <tr>
                <td>
                  <figure><img alt="hsbc-icon" src="{{'images/wealthify-icon.png' | assetsPath}}"></figure>
                </td>
                <td>Wealthify</td>
                <td>
                  <div class="toggle-button-cover">
                    <div class="button-cover">
                      <div class="button r" id="button-1">
                        <input class="checkbox" type="checkbox">
                        <div class="knobs"></div>
                        <div class="layer"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>31-jul-2020</td>
                <td>54</td>
              </tr>
              <tr>
                <td>
                  <figure><img alt="bupa-icon" src="{{'images/robnhood-icon.png' | assetsPath}}"></figure>
                </td>
                <td>Robnhood</td>
                <td>
                  <div class="toggle-button-cover">
                    <div class="button-cover">
                      <div class="button r" id="button-1">
                        <input class="checkbox" type="checkbox">
                        <div class="knobs"></div>
                        <div class="layer"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>01-Aug-2020</td>
                <td>49</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
