<!--Starts mobile window-->
<div class="align-center setup-section">
  <figure><img src="{{'images/kyc.png' | assetsPath}}" alt="kyc-img"></figure>
  <h5><strong>Enter your Mobile Number</strong></h5>
  <div class="setup-box">
  <p>Please enter your phone number for <span>two factor authentication.</span></p>
  <form [formGroup]="mobileForm">
      <div class="form-group">
        <input type="text" formControlName="mobile" class="form-control">
        <app-show-errors [control]="mobileForm.controls.mobile"></app-show-errors>
      </div>
      <input type="button" class="next-btn" value="Continue" (click)="onNext()">
  </form>
  </div>
</div>
<!--End-->