<div class="align-center setup-section">
  <figure><img alt="kyc-img" src="{{'images/kyc.png' | assetsPath}}"></figure>
  <h5><strong>Enter your Mobile Number</strong></h5>
  <div class="setup-box">
    <p>Please enter your phone number for <span>two factor authentication.</span></p>
    <form [formGroup]="mobileForm">
      <div class="form-group">
        <input class="form-control" formControlName="mobile" type="text">
        <app-show-errors [control]="mobileForm.controls.mobile"></app-show-errors>
      </div>
      <input (click)="onNext()" class="next-btn" type="button" value="Confirm">
    </form>
  </div>
</div>
