<div class="align-center login forgot">
    <a href="#" class="back-btn"></a>
    <div class="site-logo"><img src="{{'images/logo.png' | assetsPath}}" alt="logo"></div>
    <h3>Forgot Password?</h3>
    <form [formGroup]="forgotPasswordForm">
        <h5>Enter the email address associated<br> with your account</h5>
        <div class="form-group">
            <input class="form-control" type="text" formControlName="email" placeholder="Type your Email">
            <app-show-errors [control]="forgotPasswordForm.controls.email"></app-show-errors>
        </div>
        <input type="button" value="Next" (click)="onNext()">
    </form>
</div>