<div class="align-center login forgot">
  <a class="back-btn" href="#"></a>
  <div class="site-logo"><img alt="logo" src="{{'images/logo.png' | assetsPath}}"></div>
  <h3>Forgot Password?</h3>
  <form [formGroup]="forgotPasswordForm">
    <h5>Enter the email address associated<br> with your account</h5>
    <div class="form-group">
      <input class="form-control" formControlName="email" placeholder="Type your Email" type="text">
      <app-show-errors [control]="forgotPasswordForm.controls.email"></app-show-errors>
    </div>
    <input (click)="onNext()" type="button" value="Next">
  </form>
</div>
