<div  tabindex="-1" role="dialog" id="allow">
	<div class="modal-dialog-centered">
	<div class="modal-content">
	  <div class="modal-body">
		<div class="row">
		<div class="col-md-3"><div class="logo-img"><img src="{{'images/logo.png' | assetsPath}}" alt="logo-img"></div></div>
		<div class="col-md-9"><p>Allow "mmob" to set up direct debit to Octopus Energy?</p></div>
		</div>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="noPressed()">No thanks</button>
		<button type="button" class="btn btn-primary" data-dismiss="modal" (click)="yesPressed()">Allow</button>
	  </div>
	</div>
	</div>
	</div>