<div class="upload-address">
  <figure><img alt="backup icon" src="{{'images/backup.png' | assetsPath}}"></figure>
  <h5><strong>Upload a photo of your proof of address</strong></h5>
  <form>
    <div class="image-upload-wrap">
      <input accept=".png, .jpg, .jpeg" class="file-upload-input" (change)="uploadAddressProofEvent($event)"
             type='file'/>
      <div class="drag-text">
        <p>Please upload a photo of your proof of address ensuring</p>
        <p>the name and address are visible (e.g Bank Statement, Utility bill)</p>
      </div>
    </div>
    <div class="file-upload-content">
      <img class="file-upload-image" [src]="addressProofBase64Str"/>
    </div>
    <button class="file-upload-btn" onclick="$('.file-upload-input').trigger( 'click' )" type="button">Choose a file
      to upload
    </button>
    <button *ngIf="showButton()" (click)="onNext()" class="file-upload-btn" type="submit">Submit</button>
  </form>
</div>
