<div class="align-center">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let img of images; let i=index">
          <div class="carousel-item active">
            <h5><strong>{{img.name}}</strong></h5>
            <img [src]="img.image" alt="slide-img">
            <p>{{img.data}}</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
  <div class="button-set-alt">
    <a href="javascript:void(0)" class="click-button" (click)="continue()">Continue</a>
    <a href="javascript:void(0)" class="skip-btn" href="#">Skip</a>
  </div>
</div>