<div class="align-center login">
  <div class="site-logo"><img alt="logo" src="{{'images/logo.png' | assetsPath}}"></div>
  <h3>Login</h3>
  <form [formGroup]="loginForm">
    <div class="form-group">
      <label>Email</label>
      <input class="form-control" formControlName="email" placeholder="Type your Email" type="text">
      <app-show-errors [control]="loginForm.controls.email"></app-show-errors>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input class="form-control" formControlName="password" placeholder="************" type="password" >
      <app-show-errors [control]="loginForm.controls.password"></app-show-errors>
    </div>
    <p class="forgot-pwd"><a [routerLink]="['../login/forgot-password']"><small>Forgot password?</small></a></p>
    <input (click)="onNext()" type="button" value="login">
    <p>Don't have an account? <a [routerLink]="[navigationUrl.GETTING_SETUP_ROUTE]">Sign Up</a></p>
  </form>
</div>
