<nav class="sidebar" data-toggle="pill">
  <div class="logo">
    <a href="javascript:;"><img alt="logo" src="{{'images/logo-alt.png' | assetsPath}}"></a>
    <div (click)="mobileToggleMenu()" class="rmm-button {{menuToggleIconClass}}">
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
    </div>
  </div>
  <ul class="nav flex-column {{menuToggleClass}}">
    <li class="nav-header active">Menu</li>
    <li class="nav-item">
      <a (click)="highLightClickedElement($event)" [routerLink]="['/dashboard']" class="nav-link active">
        <figure><img alt="nav-icon" src="{{'images/star.svg' | assetsPath}}"></figure>
        Home
      </a>
    </li>
	<li class="nav-item">
      <a (click)="highLightClickedElement($event)" [routerLink]="['/marketPlace']" class="nav-link">
        <figure><img alt="nav-icon" src="{{'images/marketplace.svg' | assetsPath}}"></figure>
        Market Place
      </a>
    </li>
    <li class="nav-item">
      <a (click)="highLightClickedElement($event)" [routerLink]="['/dashboard']" class="nav-link">
        <figure><img alt="nav-icon" src="{{'images/spending.svg' | assetsPath}}"></figure>
        Credit Score
      </a>
    </li>
    <li class="nav-item">
      <a (click)="highLightClickedElement($event)" [routerLink]="['/dashboard']" class="nav-link">
        <figure><img alt="nav-icon" src="{{'images/accounts.svg' | assetsPath}}"></figure>
        My data
      </a>
    </li>
    
    <div [ngClass]="{'more-items' : !showMoreMenu}">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <figure><img alt="nav-icon" src="{{'images/accounts.svg' | assetsPath}}"></figure>
          Lorem Ipsum
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <figure><img alt="nav-icon" src="{{'images/marketplace.svg' | assetsPath}}"></figure>
          Lorem Ipsum
        </a>
      </li>
    </div>
    <li class="nav-item">
      <a (click)="toggleMenu()" class="nav-link show-hide-btn" href="javascript:void(0)">
        <figure><img alt="nav-icon" src="{{'images/more.svg' | assetsPath}}"></figure>
        {{buttonLabel}}
      </a>
    </li>
  </ul>
  <span (click)="logout()" class="setting-button">
    <img alt="settings-icon" src="{{'images/settings.png' | assetsPath}}">
  </span>
</nav>
