<!-- Sidebar -->
<nav class="sidebar" data-toggle="pill">
  <div class="logo">
    <a href="javascript:;"><img src="../../../assets/images/logo.png" alt="logo"></a>
  </div>
  <ul class="nav flex-column">
    <li class="nav-header active">Menu</li>
    <li class="nav-item">
      <a class="nav-link active" href="#">
        <figure><img src="../../../assets/images/star.svg" alt="nav-icon"></figure>Home
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <figure><img src="../../../assets/images/spending.svg" alt="nav-icon"></figure>Spending
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <figure><img src="../../../assets/images/accounts.svg" alt="nav-icon"></figure>Accounts
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <figure><img src="../../../assets/images/marketplace.svg" alt="nav-icon"></figure>Market Place
      </a>
    </li>
    <div class="more-items">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <figure><img src="../../../assets/images/accounts.svg" alt="nav-icon"></figure>Lorem Ipsum
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <figure><img src="../../../assets/images/marketplace.svg" alt="nav-icon"></figure>Lorem Ipsum
        </a>
      </li>
    </div>
    <li class="nav-item">
      <a class="nav-link show-hide-btn" href="#">
        <figure><img src="../../../assets/images/more.svg" alt="nav-icon"></figure>More
      </a>
    </li>
  </ul>
  <a class="setting-button" href="#">
    <i class="fa fa-cog" aria-hidden="true"></i>
  </a>
</nav>