<div class="align-center setup-section">
  <figure><img alt="pass-img" src="{{'images/access.png' | assetsPath}}"></figure>
  <h5><strong>Choose a secure password</strong></h5>
  <div class="setup-box">
    <form [formGroup]="passwordForm">

      <div class="form-group">
        <i><img alt="eye-icon" src="{{'images/eye-icon.png' | assetsPath}}"></i>
        <input class="form-control" formControlName="password" type="password">
        <app-show-errors [control]="passwordForm.controls.password"></app-show-errors>
      </div>
      <ul>
        <li>Your password should include at least:</li>
        <li
            [ngClass]="passwordForm.controls['password'].hasError('required') || passwordForm.controls['password'].hasError('minlength')  ? '' : 'text-success'">
          <img src="{{'images/tick-bullet.jpg' | assetsPath}}"> 8 character
        </li>
        <li
            [ngClass]="passwordForm.controls['password'].hasError('required') || passwordForm.controls['password'].hasError('hasNumber')  ? '' : 'text-success'">
          <img src="{{'images/tick-bullet.jpg' | assetsPath}}"> 1 number
        </li>
        <li
            [ngClass]="passwordForm.controls['password'].hasError('required') || passwordForm.controls['password'].hasError('hasCapitalCase')  ? '' : 'text-success'">
          <img src="{{'images/tick-bullet.jpg' | assetsPath}}"> 1 capital letter
        </li>
        <li
            [ngClass]="passwordForm.controls['password'].hasError('required') || passwordForm.controls['password'].hasError('hasSpecialCharacters') ? '' : 'text-success'">
          <img src="{{'images/tick-bullet.jpg' | assetsPath}}"> 1 special character (e.g. $@&%)
        </li>
      </ul>
      <input (click)="onNext()" class="next-btn" type="button" value="Continue">

    </form>
  </div>
</div>
