.setup-box {
	margin:0px 0 0;
}
.setup-box form{margin: 20px 0;}
.setup-box .form-group{position:relative;}
.form-group i {
    position: absolute;
    right: 20px;
    top: 12px;
}
.form-group i {
    position: absolute;
    right: 20px;
    top: 25px !important;
}












