<!--Starts password window-->
<div class="align-center setup-section">
  <figure><img src="{{'images/access.png' | assetsPath}}" alt="pass-img"></figure>
  <h5><strong>Choose a secure password</strong></h5>
  <div class="setup-box">
  <form [formGroup]="passwordForm">
    
      <div class="form-group">
        <i><img src="{{'images/eye-icon.png' | assetsPath}}" alt="eye-icon"></i>
        <input type="password" formControlName="password" class="form-control">
        <app-show-errors [control]="passwordForm.controls.password"></app-show-errors>
      </div>
      <ul>
        <li>Your password should include at least:</li>
        <li
          [ngClass]="passwordForm.controls['password'].hasError('required') || passwordForm.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
          <img src="{{'images/tick-bullet.jpg' | assetsPath}}"> 8 character</li>
        <li
          [ngClass]="passwordForm.controls['password'].hasError('required') || passwordForm.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
          <img src="{{'images/tick-bullet.jpg' | assetsPath}}"> 1 number</li>
        <li
          [ngClass]="passwordForm.controls['password'].hasError('required') || passwordForm.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
          <img src="{{'images/tick-bullet.jpg' | assetsPath}}"> 1 capital letter</li>
        <li
          [ngClass]="passwordForm.controls['password'].hasError('required') || passwordForm.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
          <img src="{{'images/tick-bullet.jpg' | assetsPath}}"> 1 special character (e.g. $@&%)</li>
      </ul>
      <input type="button" class="next-btn" value="Continue" (click)="onNext()">
    
  </form>
  </div>
</div>
<!--End-->