* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a,
li {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
a:focus,
a:hover {
  text-decoration: none;
}
:focus {
  outline: 0 !important;
}
img {
  max-width: 100%;
}
b,
strong {
  font-weight: 700;
}
em,
i {
  font-style: italic;
}
.clr {
  border: 0;
  clear: both;
  height: 0;
}
body,
html {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  margin: 0;
}
li,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  background: #fff;
  -webkit-text-stroke: rgba(255, 255, 255, 0.01) 0.1px;
  overflow-x: hidden;
  font-family: Roboto, sans-serif;
}
/*************************Highchart css**********************/
g.highcharts-data-labels.highcharts-series-0.highcharts-pie-series.highcharts-tracker {
  display: none;
}
.highcharts-credits {
  display: none;
}
.highcharts-data-label-color-1 {
  left: 318px !important;
  top: 135px !important;
}
.highcharts-data-label-color-0 {
  left: 260px !important;
  top: -16px !important;
}
.highcharts-data-label-color-3 {
  left: 160px !important;
  top: -15px !important;
}
.highcharts-data-label-color-2 {
  top: 100px !important;
  left: 100px !important;
}
text.highcharts-title {
  display: none;
}
.highcharts-label span {
  overflow: visible !important;
}
/*****Tooltip postion css**************/
g.highcharts-label.highcharts-tooltip.highcharts-color-2 {
  transform: translate(40px, 85px) !important;
}
g.highcharts-label.highcharts-tooltip.highcharts-color-0 {
  transform: translate(330px, 0px) !important;
}
g.highcharts-label.highcharts-tooltip.highcharts-color-3 {
  transform: translate(80px, 4px) !important;
}
g.highcharts-label.highcharts-tooltip.highcharts-color-1 {
  transform: translate(380px, 127px) !important;
}

@media (max-width: 767px) {
  .highcharts-data-label-color-0 {
    left: 265px !important;
  }
  .highcharts-data-label-color-1 {
    left: 320px !important;
  }
  .highcharts-data-label-color-2 {
    left: 100px !important;
  }
  .highcharts-data-label-color-3 {
    left: 152px !important;
  }
  g.highcharts-label.highcharts-tooltip.highcharts-color-0 {
    transform: translate(330px, 0) !important;
  }
  g.highcharts-label.highcharts-tooltip.highcharts-color-1 {
    transform: translate(372px, 127px) !important;
  }
  .highcharts-data-label-color-1 span {
    overflow: visible;
  }
}

@media (max-width: 479px) {
  .highcharts-data-label-color-2 {
    left: 20px !important;
  }
  .highcharts-data-label-color-3 {
    left: 78px !important;
  }
  .highcharts-data-label-color-0 {
    left: 190px !important;
  }
  .highcharts-data-label-color-1 {
    left: 250px !important;
  }
  .highcharts-data-label-color-1 span {
    overflow: vidible !important;
  }
  g.highcharts-label.highcharts-tooltip.highcharts-color-1 {
    transform: translate(230px, 127px) !important;
  }
  g.highcharts-label.highcharts-tooltip.highcharts-color-0 {
    transform: translate(230px, 44px) !important;
  }
}
<<<<<<< HEAD
/*****authentication forms css**************/
.align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 15px;
}
.login h3 {
  color: #00008b;
  margin: 40px 0 25px;
}

.login form {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.login form .form-group {
  border: 0;
  padding: 0;
  margin: 15px 0 0;
  height: auto;
}

.login form .form-group label {
  display: block;
  color: #00008b;
  text-align: left;
}

.login form .form-control {
  width: 100%;
  background: #f8f8f8;
  border: 0;
  height: 36px;
  padding: 0 15px;
  border-radius: 6px;
  box-shadow: 0 0 5px #d0d0d0;
  text-align: left;
  color: #000;
}

p.forgot-pwd {
  text-align: right;
}

p.forgot-pwd a {
  color: #808080;
}

p.forgot-pwd a:hover {
  color: #00008b;
}

.login form input[type='button'] {
  width: 158px;
  height: 42px;
  margin: 40px auto 10px;
  display: block;
  border: 0;
  background: #0000f2;
  background: -moz-linear-gradient(left, #0000f2 1%, #0000c0 49%, #000093 100%);
  background: -webkit-linear-gradient(left, #0000f2 1%, #0000c0 49%, #000093 100%);
  background: linear-gradient(to right, #0000f2 1%, #0000c0 49%, #000093 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000f2', endColorstr='#000093', GradientType=1);
  border-radius: 6px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.login form input[type='button']:hover {
  background: #b5b5ff;
  color: #3e295f;
}

.login form input[type='button'] ~ p {
  text-align: center;
  color: #969696;
  font-weight: 500;
}

.login form input[type='button'] ~ p a,
.resend {
  color: #00008b;
  position: relative;
  display: inline-block;
}

.login form input[type='button'] ~ p a:after,
.resend:after {
  position: absolute;
  content: '';
  background: #00008b;
  width: 100%;
  height: 1px;
  bottom: 3px;
  left: 0;
}
.resend {
  margin-top: 5px;
}

.login.forgot form {
  text-align: center;
}

.login.forgot form .form-control {
  text-align: center;
}

.login.forgot form h5 {
  color: #1f1f99;
  font-size: 16px;
  margin: 24px 0;
}

.login .form-control::-webkit-input-placeholder {
  color: #a098b0;
  opacity: 1;
}

.login .form-control::-moz-placeholder {
  color: #a098b0;
  opacity: 1;
}

.login .form-control:-ms-input-placeholder {
  color: #a098b0;
  opacity: 1;
}

.login .form-control::placeholder {
  color: #a098b0;
  opacity: 1;
}

.login .back-btn {
  position: absolute;
  top: 20px;
  left: 15px;
  margin: 0;
  transform: inherit;
  text-align: center;
  color: #969494;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 32px;
}
.login .back-btn:hover {
  background: #00008b;
  color: #fff;
}
.login.verify form .form-control {
  text-align: center;
  width: 15%;
  margin: 0 1%;
  display: inline-block;
}
@media (max-width: 767px) {
  .align-center.login.forgot {
    padding-top: 50px;
  }
}
=======

/***************************************************Tutorials screen design css*******************************************/

.align-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	padding: 15px;
}

.carousel {
	position: relative;
	width: 100%;
	padding: 0 0 20px;
}

.carousel-inner {
	position: relative;
	width: 100%;
	overflow: hidden;
	text-align: center;
	justify-content: center;
}

.carousel-inner img {
	width: auto;
	max-width: max-content;
}

.carousel-item {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.carousel-item.active {
    display: block;
}
.carousel-item h5 {
	margin: 0 0 30px;
}

ol.carousel-indicators {
	margin: 0;
	bottom: 0px;
}

.carousel-indicators li {
	background: #869791;
	width: 12px;
	height: 12px;
	margin: 5px 16px;
	border-radius: 20px;
	max-width: none;
	display: block;
	flex: inherit;
	border:0;
	padding:0;
}

.carousel-indicators li.active {
	background: #00008b;
}

.carousel-item p {
	margin: 25px 0 15px;
	color: #000;
}

.button-set-alt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 20px;
}

a.skip-btn {
	display: inline-block;
	margin: 10px auto;
	color: #000;
}
a.carousel-control-prev, .carousel-control-next {
    display: none;
}
>>>>>>> 30a7736300f08e658989b9cba7290c2e4725b944
