* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a,
li {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
a:focus,
a:hover {
  text-decoration: none;
}
:focus {
  outline: 0 !important;
}
img {
  max-width: 100%;
}
b,
strong {
  font-weight: 700;
}
em,
i {
  font-style: italic;
}
.clr {
  border: 0;
  clear: both;
  height: 0;
}
body,
html {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  margin: 0;
}
li,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  background: #fff;
  -webkit-text-stroke: rgba(255, 255, 255, 0.01) 0.1px;
  overflow-x: hidden;
  font-family: Roboto, sans-serif;
}
/*************************Highchart css**********************/
g.highcharts-data-labels.highcharts-series-0.highcharts-pie-series.highcharts-tracker {
  display: none;
}
.highcharts-credits {
  display: none;
}
.highcharts-data-label-color-1 {
  left: 318px !important;
  top: 135px !important;
}
.highcharts-data-label-color-0 {
  left: 260px !important;
  top: -16px !important;
}
.highcharts-data-label-color-3 {
  left: 160px !important;
  top: -15px !important;
}
.highcharts-data-label-color-2 {
  top: 100px !important;
  left: 100px !important;
}
text.highcharts-title {
  display: none;
}
.highcharts-label span {
    overflow: visible !important;
}
/*****Tooltip postion css**************/
g.highcharts-label.highcharts-tooltip.highcharts-color-2 {
  transform: translate(40px, 85px) !important;
}
g.highcharts-label.highcharts-tooltip.highcharts-color-0 {
  transform: translate(330px, 0px) !important;
}
g.highcharts-label.highcharts-tooltip.highcharts-color-3 {
  transform: translate(80px, 4px) !important;
}
g.highcharts-label.highcharts-tooltip.highcharts-color-1 {
  transform: translate(380px, 127px) !important;
}

@media (max-width: 767px) {
  .highcharts-data-label-color-0 {
    left: 265px !important;
  }
  .highcharts-data-label-color-1 {
    left: 320px !important;
  }
  .highcharts-data-label-color-2 {
    left: 100px !important;
  }
  .highcharts-data-label-color-3 {
    left: 152px !important;
  }
  g.highcharts-label.highcharts-tooltip.highcharts-color-0 {
    transform: translate(330px, 0) !important;
  }
  g.highcharts-label.highcharts-tooltip.highcharts-color-1 {
    transform: translate(372px, 127px) !important;
  }
  .highcharts-data-label-color-1 span {
    overflow: visible;
  }
}

@media (max-width: 479px) {
  .highcharts-data-label-color-2 {
    left: 20px !important;
  }
  .highcharts-data-label-color-3 {
    left: 78px !important;
  }
  .highcharts-data-label-color-0 {
    left: 190px !important;
  }
  .highcharts-data-label-color-1 {
    left: 250px !important;
  }
  .highcharts-data-label-color-1 span {
    overflow: vidible !important;
  }
  g.highcharts-label.highcharts-tooltip.highcharts-color-1 {
    transform: translate(230px, 127px) !important;
  }
  g.highcharts-label.highcharts-tooltip.highcharts-color-0 {
    transform: translate(230px, 44px) !important;
  }
}
