<div class="align-center setup-section">
  <figure><img alt="pass-img" src="{{'images/pass.png' | assetsPath}}"></figure>
  <h5><strong>What's your name?</strong></h5>
  <div class="setup-box">
    <p>This can be your real name, preferred name, nick name or alias- it doesn't need to match your ID.</p>
    <form [formGroup]="nameForm">
      <div class="form-group">
        <i *ngIf="nameForm.controls.name.valid"><img alt="tick-icon"
                                                     src="{{'images/tick-icon.png' | assetsPath}}"></i>
        <input class="form-control" formControlName="name" type="text">
        <app-show-errors [control]="nameForm.controls.name"></app-show-errors>
      </div>
      <input (click)="onNext()" class="next-btn" href="#" type="button" value="Next">
    </form>
  </div>
</div>
