<div class="align-center">
  <div class="utilities-type">
    <div class="type-box">
      <h6>What are you looking for?</h6>
      <br>
      <div class="custom-radios">
        <div>
          <input type="radio" id="color-1" name="color" value="color-1" checked>
          <label for="color-1">
            <span>
              First Time Buyer
            </span>
          </label>
        </div>
        <div>
          <input type="radio" id="color-2" name="color" value="color-2">
          <label for="color-2">
            <span>
              Remortgage
            </span>
          </label>
        </div>

        <div>
          <input type="radio" id="color-2" name="color" value="color-2">
          <label for="color-2">
            <span>
              Moving Home
            </span>
          </label>
        </div>


      </div>

      <input type="button" class="next-btn" value="Confirm" (click)="onNext()">
    </div>
  </div>
</div>